[2016-10-29 12:17] 12345ieee commented on #227
Yeah, sorry about the noise, my mind parsed the union/struct thing badly.

Are you working on something? I was trying to fix #204 , progress is slow because I have to understand tons of code as I go along.

[2016-10-30 16:35] 12345ieee opened #229 "scanmem: Differentiate "0 matches because of no scan" from "0 matches because of no matches""
Title is a mess.

There are currently 2 meanings of the `0>` prompt in scanmem:
- No scan was performed, so we have 0 matches (`reset` dumps us back here)
- A scan was performed and found 0 matches

I would like the prompt to read differently in the 2 cases, what about `->` or `'space'>` for the first case?

[2016-10-30 19:39] 12345ieee commented on #204
Got it, the problem is that the bytearray/string routine doesn't check the old value's flags. Even if the length is 0 (deleted match case), it still compares and reports, unlike numbers, which check both the new and the old flags.

We could either have the bytearray/string routine check that the data length is !=0, or check explicitly for deleted values before calling the testing routine.

[2016-10-31 00:17] sriemer commented on #227
I'm not working on anything right now.

[2016-11-02 00:20] sriemer commented on #229
Sounds good. My vote is for ` >` in this case.

[2016-11-03 11:03] 12345ieee commented on #229
`'space'>` it is then. I should be able to do this.

Now a public API question, should `vars->num_matches` be 0 in both cases or it's better to set it to an exceptional value (e.g. -1) in the first case?

[2016-11-04 14:47] bkazemi commented on #229
Now that you mention it, I see no reason why `num_matches` should be signed. I say make it `unsigned long` and add a `bool` member if the distinction is needed for a more effective use of the memory.

[2016-11-09 10:09] avseredyuk opened #230 "gui: Context menu issue at found addresses list"
It seems that some items of the context menu of the list of the found addresses reacts OK only when user selects the address via mouse. But when you select it using keyboard arrow buttons & context menu button the problem appears. Menu items "Browse this address" and "Scan for this address" use first item in list or last selected via mouse item.

[2016-11-09 17:17] 12345ieee commented on #149
General remainder:
Debian gave us a "before the end of the year" deadline to get into Stretch, we're getting closer to it.

From the v0.16 milestone we only have #186 which is hard blocking this (together with other minor issues, some of which have a fix in the review pipeline).
@sriemer , how are things going with #186 ?

Sorry for annoying everybody and reviving a months-old issue.

[2016-11-09 17:22] 12345ieee commented on #230
Seems you're right, it comes from the fact that the detection of which row is highlighted is a bit hacky (I'm not sure why) and doesn't update when using the Arrow buttons.

[2016-11-09 17:49] 12345ieee commented on #230
Proposed fix is at the tip of `gui-next`, awaiting review.
@avseredyuk , feel free to test it by building from the `gui-next` branch.

[2016-11-09 18:06] 12345ieee commented on #230
I found out that the cheatlist would have had the same problem (though less obvious).
I changed the commit to include the fix needed there, too, force-pushing to `gui-next`.

[2016-11-12 09:55] asdf23 opened #231 "Feature requests"
I'm interested in helping to develop if you need help.
I'd like to add the following features:

- An ability to tag memory regions (I'd like to add a column to the list command, and then in the set command an ability to specify a specific set of memory region(s) with said "tags")
- An ability to store and retrieve a specific snapshot. I want to take a snapshot and know it is saved as "snapshot0" u

[2016-11-12 14:27] sriemer commented on #231
We are in feature freeze right now as v0.16 is about to be released. Debian Stretch release schedule and therefore 2017-01-05 is the hard deadline.

How do you imagine to handle ASLR correctly with your snapshot storing and reloading?

We aren't in the old times of static unrandomized memory all put into the executable any more.

That feature worked with DOS, DOS games and an Action Replay module

[2016-11-13 14:04] sriemer commented on #231
Okay, so you're talking about the search snapshot. When loading it you can't be sure that values are still the same. So often you will find nothing in it or errors due to missing regions are caused. Recreation doesn't take that long or you forgot to exclude some too big regions. I don't get for what you would need this. Please provide a use case.

I was thinking about memory snapshot saving and re

[2016-11-13 17:58] 12345ieee commented on #231
To have a well separated `libscanmem` you should probably wait for v0.16.
In the meantime, have a look at [backend.py](https://github.com/scanmem/scanmem/blob/master/gui/backend.py), which handles communication between `libscanmem` and `GameConqueror`, to get an idea of the API.

[2016-11-20 13:20] #184 closed

[2016-11-20 13:23] sriemer commented on #149
Debian Stretch release schedule and therefore 2017-01-05 is the hard deadline for this bug.

[2016-11-23 00:51] hub2git opened #232 "What is game_conqueror's equivalent to Cheat Engine's "4 byte"?"
https://konghack.com/topic/10585-burrito_bison_launcha_libre/2?p=102778 advises Cheat Engine users to search for "4 byte". What is the equivalent in Game Conqueror?

[2016-11-23 06:12] sriemer commented on #232
`int32`. But the default `int` is also fine.

[2016-11-23 06:27] sriemer commented on #232
If you have no idea if the value could be a float as well, then use `number` and a small range like `200..201` if 200 is visible in a game.

[2016-11-23 06:41] sriemer commented on #232
Integers: Warzone 2100, Cube 2: Sauerbraten, Supertux 2, Alien Arena, ...
Floats: Chromium B.S.U., Dune Legacy, ...

There are more games using integers but some use floats instead.

[2016-11-23 07:50] korcankaraokcu commented on #232
New flash games tend to use variables in double type. For instance, berzerkland was using double type for all protected variables in their games. It'd kick you out of the game if the variable was changed.

Also old games like Soldat usually try to optimize space. The max count for bullets were 100 so it used byte instead of integer for storing.

So, you should try every type regardless of the thin

[2016-11-23 08:17] sriemer commented on #232
This is exactly what `number` is good for. It checks all ints and all float types.

[2016-11-23 13:23] 12345ieee commented on #232
I cheated in that game like 3 days ago, there is a post of mine 2 posts over the linked konghack thread.

Can confirm that game uses int32.

@korcankaraokcu : Flash is going away, the game in question is a Unity OpenGL build, like most new browser-bound games.

[2016-11-25 00:49] hub2git opened #233 "how can I increase game speed (called "speed hack" in Cheat Engine)?"
I'm playing http://www.kongregate.com/games/jarofed/get-a-little-gold, an "idle" game. How can I increase the speed that the game runs. Cheat Engine has something called speed hack. What does Game Conqueror have? thank you.

[2016-11-25 11:20] 12345ieee commented on #233
This was already discussed in https://github.com/scanmem/scanmem/issues/65 and classed as `wontfix`.

Closing this one as duplicate.

[2016-11-25 11:20] #233 closed

[2016-11-25 11:20] #232 closed

[2016-12-04 02:35] bkazemi opened #234 "libscanmem: value.c: determining which uservalue_t flags to set"
In https://github.com/scanmem/scanmem/blob/master/value.c#L209-L210 the int64_value and uint64_value members are unconditionally set which can cause undefined behavior/wrap-around when the numbers are out of range; thus, if a user supplied a number `x` where `x < INT32_MIN` there would be no reliable way to tell if the user indeed supplied a `int64_t` value or not, because both the signed and unsi

[2016-12-04 14:41] 12345ieee commented on #234
I'm not sure I follow you, any string that is correctly parsed by the `strtoll` a few lines over is a valid int64.
Were you referring to something else?

[2016-12-04 18:42] bkazemi commented on #234
Yes, it is valid then, but when it gets cast to uint64 on line 209, that's where the problem is.

[2016-12-04 18:57] 12345ieee commented on #234
Today I must not be very sharp, I keep not seeing it.
@bkazemi , could you please post your patch so I can figure out both the problem you saw and how you'd solve it?

These flags control the comparisons that will be made, you're pretty much forced to have the 64{s,u} flags set, otherwise it will never run any comparison.

[2016-12-04 19:58] bkazemi commented on #234
[code]

We simply check if `num` was non-negative before setting `u64b`. There are other issues, but this was the one I was addressing specifically.

[2016-12-04 20:11] 12345ieee commented on #234
It sorta depends on what your intention is.

The current code basically "works on everything you give it".
Your code correctly tells me `-A` is not unsigned, but has lost the ability to work with numbers between 2^63 and 2^64 (beware of off-by-ones) as unsigned values.
Though admittedly even the current code makes it difficult because you need to input these numbers as the corresponding negative i

[2016-12-04 20:36] bkazemi commented on #234
The problem is that the current code incorrectly handles the numbers. I was aware of the 2^64-2^63 precision loss, however, that is actually already lost due to the fact that `num` is of type `long long`. Casting to `uint64_t` does not make a difference at that point; the number has already been improperly converted to `long long`. We'd need to manually check for a negative sign and parse the numb

[2016-12-16 22:07] #217 closed

[2016-12-17 09:17] 12345ieee opened #235 "Branches and tags"
Considering we're about to release, I have a request about tagging.

As of now, releases are tagged only in the stable branch.
This makes using `git describe` on master really inconvenient, because everything is referred to the ancient tag v0.15.4, before stable split from master.

@sriemer , could you consider bringing the tags to master, too?
Either using stable as an "advancing pointer" over ma

[2016-12-17 09:35] 12345ieee commented on #235
Another is the even/odd system, in which at every release the minor version increments twice, so that the branches can be kept separated.
Stable would have the even numbers and master the odd ones.

[2016-12-17 10:34] sriemer commented on #235
Usually only fixes should go into the stable branch/releases. All new features should go in the master branch and the 0.15, 0.16, ... releases. Lu Wang had a different opinion. So it ended up like this that also performance optimization and other stuff went in. Usually it should be like comparing v0.15 to v0.16 and releasing these versions more frequently.

The other thing is that distributions do

[2016-12-17 10:35] sriemer commented on #235
Maybe we can do 0.15.y and 0.16.y stable branches like the Linux kernel does.

[2016-12-17 10:37] sriemer commented on #235
With a merge window for features in the beginning of 0.17 it should be different from 0.16.y right from the start.

[2016-12-17 10:44] 12345ieee commented on #235
I understand why the stable branch exists.
It's a tradeoff between maintainability and complexity and it's your decision to have it or not.

My point was on the relationship between master and stable, if you keep them completely independent you need to tag both.

So, for a detailed proposal, tag the new release in stable as 0.16, then tag master as 0.17 (in a commit in which you just change autoto

[2016-12-17 10:47] sriemer commented on #235
Yes, it is intended in a way like that. We can rename the current stable branch to 0.15.y if further stuff is requested for that and start a new 0.16.y branch as the new stable branch. The master should derive immediately as we will merge features first then.

[2016-12-17 10:51] 12345ieee commented on #235
I'm sorry for being dense, once we have piled up 100 commits on master (not bugfixes, features), what do we release? We tag master as 0.17.y and release that?

[2016-12-17 11:03] sriemer commented on #235
On master we only tag v0.16, v0.17, v0.18, ... no matter what's in there. The idea is to release more often and if something is broken, then we fix it in the stable branches 0.16.y, 0.17.y and 0.18.y. Only fixes should go into these.

[2016-12-17 11:05] 12345ieee commented on #235
Got it. The 0.N tag is the splitting point of each stable from master, from now on.

You can close this, thanks.

[2016-12-17 11:07] sriemer commented on #235
Fixes in 0.17.y aren't put to 0.16.y as well. This is not the Linux kernel. So updates and version upgrades should be possible easily.

The only issue could be: Some distros have strict policies about major version (number) upgrades. So maybe we have to do exceptions.

[2016-12-17 11:07] #235 closed

[2016-12-18 08:33] sriemer commented on #149
I've released v0.16 and submitted the packaging yesterday to Emilio. I hope to get this finally uploaded and fixed.

[2016-12-18 11:36] bkazemi commented on #179
Update: picked this back up after some time away.

Gotten the bulk of this done, hit a snag with getting the virtual address of the stack and heap segments. Neither native FreeBSD `procfs` nor `linprocfs` give this information, AFAIK. @sriemer, maybe integrating `libelf` might prove beneficial if not for BSD only?

[2016-12-21 15:59] sriemer opened #236 "gui: hexview: 'gtk-jump-to' icon not shown on Debian Stretch"
Commit 655e283debcf16cc07ece101acf7f8b90aa5753d (GameConqueror.xml: Replace GtkImage:stock with 'icon-name') didn't fix all icons. For some of them the "gtk-*" symlink is still used. The issue is that the 'gtk-jump-to' symlink has been removed in more recent GTK versions like GTK 3.22.

Affected icons: "gtk-edit", "gtk-jump-to"

A search in `/usr/share/icons` + `ls -l` shows to which files these a

[2016-12-21 16:25] sriemer commented on #236
Replacing 'gtk-jump-to' with 'go-jump' works but replacing 'gtk-edit' with 'document-edit' results in not showing that icon. 😠

[2016-12-21 17:05] #236 closed

[2016-12-22 09:45] sriemer commented on #186
Some parts done in `v0.16`. Some more work to do for `v0.17`.

[2016-12-22 09:46] sriemer commented on #186
`v0.17` should come with a completely cleaned up public API and `libscanmem2` then.

[2016-12-22 10:48] sriemer commented on #149
Would be nice to get this into Ubuntu 17.04 Zesty Zapus released in April 2017 as well this way.

[2016-12-22 19:49] 12345ieee commented on #236
I can't reproduce this (fresh testing machine).
I went out of my way to install only LXDE and I can see both icons correctly.
You can tell they are from another theme, but they are there.

[2016-12-22 20:22] 12345ieee commented on #228
Figured where the problem is, it isn't Gtk 3.22, it's the text scaling factor I use.
Even though the hexview font doesn't change, once the factor goes over 1.08 the whole layout snaps.

Probably related to how the hexview widgets decide to dimension themselves.

[2016-12-22 21:06] 12345ieee commented on #228
Yep, related to how the window is dimensioned.
Sadly I don't know enough about custom widgets to fix this.

Tagging as "Enhancement" (because it only happens for non-standard text scaling) and "help wanted", in case someone wants to have a look at the hexview.

[2016-12-23 08:14] sriemer commented on #236
I also did a fresh install with KDE and GNOME and the symlink "gtk-jump-to*" is not there. If this change doesn't break your system, then it should be fine.

[code]

output would help.

[2016-12-23 15:27] 12345ieee commented on #236
[code]

And this was expected, I have the symlink, in fact both `gtk-jump-to` and `go-jump` work.

[code]

But the HighContrast version isn't the right one. I have no symlinks, either.
I have no idea where GC picks up the right icon.

[2017-01-02 08:51] sriemer commented on #149
We are reaching the Debian Stretch deadline 2017-01-05 very soon. I'd be really pissed off if we miss it.

@coolwanglu: You are the Debian package maintainer for scanmem. Please upload my package from https://github.com/sriemer/scanmem-debian ASAP! TIA

[2017-01-02 16:27] 12345ieee commented on #149
So, looking at the latest Debian requests (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=822604#67), they seem all "cosmetic-only". Hard deadline is also postponed to 05/02/2017.

Considering the is a 10 day transition period now from unstable to testing (I don't know if it compounds with the 7+ days the package is predicted to spend in NEW) we are still in a moderate hurry.

Do you need any h

[2017-01-03 08:29] sriemer commented on #149
Nope, all done. At least somebody finally responded.

[2017-01-04 19:40] sriemer commented on #149
Vincent Bernat accepted the new scanmem Debian package `0.16-1` into Debian `unstable`. 🎉
@12345ieee: Thank you very much for your help! Very much appreciated!
The package will hopefully find its way into `testing` and Ubuntu as well. So closing for now.

[2017-01-04 19:40] #149 closed

[2017-01-10 17:35] #230 closed

[2017-01-10 17:37] sriemer commented on #214
Fix merged. So closing. Thanks!

[2017-01-10 17:37] #214 closed

[2017-01-15 19:09] 12345ieee commented on #195
I am starting on this one.

As for the 'One True Style (tm)', this is my usual python linter:

[code]

It's a bit lax, but it's a start. Tell me if you guys have some stricter preference.

I'd also like to bump the gtk requirements, at least to 3.12, as I said [here](https://github.com/scanmem/scanmem/commit/985ce44e73a0f1e6542fe959036f3bba65bc7a16#commitcomment-20284079).
If you know a (popular)

[2017-01-16 09:51] sriemer commented on #149
Debian package 0.16-1 has been migrated to testing (Stretch). 🎉

[2017-01-16 11:08] 12345ieee commented on #149
On this topic, releasing a v0.16.1 (or a Debian 0.16-2 with some patches) before roughly the 20th would get it in Stretch before the freeze.
@sriemer , if you have time, you might want to.

[2017-01-16 11:44] sriemer commented on #149
I would need a sponsor who does the upload. Changes are rather minor. I'm not sure if we can really get it there in time and if it's worth the effort now. I'm also busy with something non-SW related right now which limits my leisure time.

[2017-01-26 17:49] sriemer opened #239 "mobile game cheating: scanmem on the Jolla smartphone"
I'd like to share a bit of experience porting scanmem for mobile game cheating.

I have the [Jolla smartphone](https://en.wikipedia.org/wiki/Jolla_(smartphone)) (SailfishOS 2 with sbj HW adaptation).

I've installed the [SailfishOS Platform SDK](https://sailfishos.org/wiki/Platform_SDK_Installation) and the [SailfishOS-armv7hl target](https://sailfishos.org/wiki/Platform_SDK_Target_Installation).

[2017-01-27 08:39] sriemer commented on #239
The developer mode and root are required but the developer terminal `fingerterm` can be used directly on the device for that. I've found and increased more coins values and a number of moves in a game. I would never pay real money for that. 😈

[2017-01-27 14:00] 12345ieee commented on #239
@sriemer , a better place for this would be the scanmem repo's wiki: https://help.github.com/articles/about-github-wikis/ , which is currently not enabled in the scanmem repo.

I'd prefer to keep the issues just to issues themselves and TODOs, not content we'd like to keep around forever.

Good idea on sharing cheat methods on smartphones, though.

[2017-02-03 16:23] Funmungus commented on #239
I have found in Android that the UI does not freeze.  I assumed it was just because of multiple threads, but I never looked into it.

[2017-02-03 16:27] Funmungus commented on #239
I have also found that using /proc/pid/mem almost always fails in Android.  I do not know why.  My work-around is to always use ptrace by modifying the configure script before building.  It ends up being really slow on Android but more things are able to be found.

[2017-02-17 12:52] bobbyhopere commented on #179
@bkazemi, on FreeBSD, the native way of getting the Virtual Memory Entries of a process in using **struct ptrace_vm_entry**. (It is not like in Linux where you read a file in /proc). See the **scan()** function in this example: https://github.com/troydhanson/uthash/blob/master/tests/hashscan.c#L477

Other related functions:
read_mem()
https://github.com/troydhanson/uthash/blob/master/tests/hashsca

[2017-02-17 13:00] bobbyhopere opened #240 "Filter matches by memory address? Or how to handle ASLR for static memory?"
Add support to search by memory address.

ASLR will change the addresses each time the process is started but the target addresses always end with the same byte. This is true for NES, SNES, Sega, etc. emulations. This would make searching faster when we already have a long list of addresses.
Example. The first 3 bytes may change but the last one is always the same.
0x??????AB

[2017-02-17 15:30] sriemer commented on #240
Did you check the bytearray search? It provides the possibility to search for `?? ?? ?? AB` in memory.

Personally I rather use the match offset which is provided by scanmem and determine the load address of that memory region at every game start by looking at /proc/maps.

Do you know that the Linux game trainer [ugtrain](https://github.com/ugtrain/ugtrain) is coming with PIE support for static an

[2017-02-17 16:25] sriemer commented on #240
Searching again and again for the same static memory value at every game start of cause doesn't make much sense and is tedious. This is why game trainers with ASLR support have been invented - I only know of my own one on Linux: ugtrain.

If more people are voting for this, then I'll think about implementing PIE support for GameConqueror. But that will be limited to static memory and the GC save f

[2017-02-17 17:02] sriemer commented on #240
x86_64 non-PIE example for simplicity:
[code]

The .data region of the ELF executable chromium-bsu starts here at 0x62f000. Non-PIE executables on x86_64 are always loaded to 0x400000 as their .code region is starting there.

Typical ELF regions are .code, .rodata, .data and .bss. As .code and .rodata are not marked r/w, scanmem removes these from the regions list.

Example match here:
[code]
`0 +

[2017-02-17 17:15] sriemer commented on #240
Does this answer your question?

[2017-02-17 19:05] bobbyhopere commented on #240
Yes, ok, there is a workaround already available.

[2017-02-18 05:46] bkazemi commented on #179
That makes things easy, thanks. I'll be sure to take a good look later.

[2017-02-20 10:34] sriemer commented on #240
The advantage of using the .text load address instead of the .data start address is that you get the same data offset as used within the PIE (check the disassembly with `objdump -D`). So in some cases you can search for that memory offset in the code and don't have to run `gdb` with a watchpoint set to that memory address.

PIE works by using the instruction pointer %rip as the base and then addin

[2017-02-20 10:34] #240 closed

[2017-02-21 16:13] sriemer commented on #239
Just process freezing is not working on SailfishOS. I guess the reason to avoid being unable to close apps with debuggers attached is the same on Android.

Btw.: I've seen that @KDSbest also failed to use /proc/$pid/mem on Android and had to fail back to ptrace() - see http://www.kdsbest.com/?p=197.

I'm glad that I have the fast method on SailfishOS. 😄

[2017-03-08 23:19] Mirppc opened #244 "gameconqueror pkexec is failing on OpenSUSE 42.1"
So instead of using a precompiled version of scanmem and game conqueror i though i would compile it from GIT on Opensuse Leap 42.1.  Compiling worked flawlessly , yet when executing the program i get an error.

Tried it another way with sudo.

Now lets try kdesu....

http://paste.opensuse.org/11640172  That worked.

Note doing the kdesu game conqueror from the "Run Program" option in the menu didn

[2017-03-09 08:48] sriemer commented on #244
Scanmem and GameConqueror are usually working with `pkexec` on openSUSE Leap 42.1. Which window manager are you using? Is it KDE?

Please make sure that `polkit` and `polkit-kde-agent-5` are installed on your system.
Make sure that /usr/share/polkit-1/actions/org.freedesktop.gameconqueror.policy exists.

`kdesu` shouldn't be used any more due to security reasons.

I have an own package here: https

[2017-03-09 08:55] sriemer commented on #244
`/usr/lib/polkit-1/polkitd` and `/usr/lib64/libexec/polkit-kde-authentication-agent-1` should be running.

[2017-03-09 08:59] sriemer commented on #244
This is what you should see:

![gc_polkit](https://cloud.githubusercontent.com/assets/1803210/23742898/fd94cd68-04ae-11e7-8a9b-b812a531bfdf.png)

[2017-03-09 09:58] 12345ieee commented on #244
I add that simply doing:
[code]
will work, at least on Debian-based distros, but here there is clearly something going on with `pkexec`, OpenSUSE and @Mirppc 's system.

[2017-03-09 18:46] Mirppc commented on #244
@sriemer Oddly that window is not opening up after i compiled scanmem with gameconqueror enabled.

Oddly as you might know, i normally use the OBS version for Opensuse.  I just found it odd that i was not getting any error after doing

and nothing happens.  so running via a terminal is usually my next bet in debugging that issue.

Will fiddle around with this more later today as when i did get it

[2017-03-10 23:45] Mirppc commented on #244
Update.  I might have had a difficult time trying to explain my issue so instead i thought i would make a video instead.  I hope this helps.

https://youtu.be/HuKR7pgHwNE

[2017-03-11 10:51] 12345ieee commented on #244
@Mirppc , is `/usr/share/polkit-1/actions/org.freedesktop.gameconqueror.policy` installed?
It **must** be installed in exactly that location (by a privileged user), or `pkexec` won't work.

What happens when you chain a "sudo-like" program like `gksu` or `kdesu` and `pkexec` I can't say, but I'm not surprised there are strange interactions.

[2017-03-11 13:07] Mirppc commented on #244
If it isnt then something went wrong with compiling.

... some time later...

/usr/share/polkit-1/actions # ls
org.debian.pcsc-lite.policy	       org.freedesktop.systemd1.policy		 org.kde.kcontrol.kcmsddm.policy
org.freedesktop.accounts.policy        org.freedesktop.timedate1.policy		 org.kde.ksysguard.processlisthelper.policy
**org.freedesktop.gameconqueror.policy**   org.freedesktop.udisks2.poli

[2017-03-11 13:20] 12345ieee commented on #244
Uhm, I can see a difference.

When I run GC with `pkexec`, I'm not asked for the root password, I'm asked for my password, as I am in the sudo group. Isn't this the case on OpenSUSE?

Your first error (when you run `sudo gameconqueror`) is due to not having the correct envvars set, try with `sudo -E`, maybe.

What does the terminal say if you simply run `gameconqueror`?

[2017-03-11 13:24] Mirppc commented on #244
If you look at the video i belive i tried executing gameconqueror without sudo.

thanks for the tip on the sudo -E will try that as soon as i can.

[2017-03-11 13:26] 12345ieee commented on #244
Uhmm, see this: https://www.reddit.com/r/debian/comments/4h33rs/pkexec_authentication_failure/

[2017-03-15 11:15] sriemer commented on #244
Like I said: `polkit-kde-agent-5` has to be installed.

[2017-03-15 21:12] 12345ieee commented on #244
I am now going to make another inane question.

Do other packages that use this `pkexec` mechanism, such as gparted/virt-manager, work?

[2017-03-15 21:16] Mirppc commented on #244
Gparted either requires one of the su comands(kdesu, gtksu etc) or to be run as root or sudo via command line.

Just tried running Gparted as a normal user and got a popup saying it requires root.  I didnt use any command to elevate it and running gparted from the menu has no affect, the program doesnt open, no message, and no error.

[2017-03-15 21:21] 12345ieee commented on #244
So, it's not an issue of our implementation if exactly the same happens to you with `gparted`, which I assume has a correct `pkexec` implementation.

I don't know anything about OpenSUSE and can't tell where something may have gone wrong, but it seems a setup problem of your particular system, @Mirppc , not a problem in GameConqueror.

Maybe @sriemer can be of further help.

[2017-03-15 21:30] Mirppc commented on #244
Thank you @12345ieee.  I think i learned one lesson, use @sriemer package on the OpensuseBuild Service instead of compiling from source.  :)

[2017-03-15 21:31] 12345ieee commented on #244
@sriemer will be happy.

Closing this

[2017-03-16 08:52] sriemer commented on #244
The package on OBS has a couple of patches. I can only imagine that [this patch](https://build.opensuse.org/package/view_file/home:sparschauer/scanmem/gameconqueror-incomplete-desktop.patch?expand=1) fixed the .desktop file as on openSUSE category "Utility" doesn't exist.

Apart from that, it is just configured with:

[code]

[2017-03-17 02:19] Mirppc commented on #244
yea it is likely and opensuse issue.   tried virt-manager and this is what i got.
______________________________________________________________________
Unable to connect to libvirt.

authentication failed: no agent is available to authenticate

Libvirt URI is: qemu:///system

Traceback (most recent call last):
  File "/usr/share/virt-manager/virtManager/connection.py", line 865, in _do_open
    s

[2017-03-17 08:50] sriemer commented on #244
Libvirt is special and doesn't use `pkexec`. `/usr/sbin/gparted_polkit` should be the script to compare with.

[2017-03-17 08:52] sriemer commented on #244
Interesting, `gparted_polkit` contains this:

[code]

The option `--disable-internal-agent` might help.

[2017-03-17 08:56] 12345ieee commented on #244
In Debian it's simply:

[code]

So, for sake of anybody landing here, this is something OpenSUSE specific.

[2017-03-17 09:32] sriemer commented on #244
@msmeissn is the SUSE `polkit` maintainer. Maybe he knows why the internal agent causes trouble on SUSE distros.

[2017-03-17 09:47] Mirppc commented on #244
Wasnt expecting this :octocat:   Thanks!

[2017-03-17 10:24] sriemer commented on #244
TODO for myself: Add "--disable-internal-agent" to my scanmem package in my home project on OBS.

[2017-03-22 08:30] sriemer commented on #244
Fixed in OBS [revision 8](https://build.opensuse.org/package/rdiff/home:sparschauer/scanmem?linkrev=base&rev=8). Thanks!

[2017-03-22 08:30] #244 closed

[2017-03-22 09:06] sriemer commented on #239
We're through with experience exchange. So closing. Thanks! TODO: Move this to a Wiki.

[2017-03-22 09:06] #239 closed

[2017-03-22 09:17] sriemer commented on #163
This is already part of [devel:tools/scanmem](https://build.opensuse.org/package/show/devel:tools/scanmem) but GameConqueror has been rejected by the SUSE security guys. There is the [request for openSUSE:Factory](https://build.opensuse.org/request/show/478954). But it takes long time in review.
So closing for now.

[2017-03-22 09:17] #163 closed

[2017-03-24 15:41] msmeissn commented on #244
I have no particular glue about this option, would need to research it first. but if it works now... ;)

[2017-03-29 08:12] sriemer commented on #234
Indeed, parsing for a sign would be safer to differentiate between int64_t and uint64_t. I'll build a test case for this. `0xdeadbeefdeadbeef` might be hidden in memory and can be used for both - signed and unsigned.

[2017-03-31 00:14] Mirppc commented on #244
Well i had the drive in the workstation i was compiling scanmem on explode, so i installed a new drive and put 42.2 on it. scanmem compiled and asked for elevated privileges as expected and showed up in the menu as well.  Works via command line too.

I would consider this now fixed.

[2017-04-15 13:41] sriemer commented on #229
Changed my mind. "> " looked better while testing. This has been pushed. So closing. Thanks!

[2017-04-15 13:41] #229 closed

[2017-05-20 14:47] sriemer opened #245 "README needs an update regarding ldconfig"
Running ldconfig is not required any more since `v0.16`. So that part can be removed.

[2017-05-22 06:46] sriemer opened #246 "Option required to stay interactive after processing a script"
I've received a scanmem feature request via e-mail that an option is required to stay interactive after processing commands in the scripting mode of scanmem. This way you could create your own aliases to set different defaults for scanmem.

Also the scripting mode should be documented in the man page as only few people know about it.

My proposal is introducing option `-i/--interactive` with descr

[2017-05-22 07:11] 12345ieee commented on #246
While you're looking into this, I raise another point.
I use the `echo -e "$cmd1\n$cmd2" | scanmem`-thing to do fast debug/testing and it is pretty cumbersome, to say the least.
Also, a new `-i` flag when the interactive behaviour is the default seems pretty strange to me.

So I propose to rework the handling and turn the syntax into `scanmem -- $cmd1X$cmd2` where `X` is some reasonable separator,

[2017-05-22 07:56] #245 closed

[2017-05-22 23:31] bkazemi commented on #246
Hmm, it would seem like a config file would be the best fit for persistent settings, maybe with something simple like libYAML. Should be easy to maintain, but it would add a new dependency.

I agree with @12345ieee that it seems a bit backwards to use a switch for interactive behavior as `scanmem` is described as a "interactive debugging utility" in the manpage. Unfortunately @12345ieee proposal w

[2017-05-23 05:59] sriemer commented on #246
What about a `-c` switch which can be repeated for providing commands which should be processed before getting interactive and which are ignored if there is input from stdin?

[2017-05-23 06:01] sriemer commented on #246
I'm sure @12345ieee can put the `exit` command at the end.

[2017-05-23 06:10] sriemer commented on #246
Or maybe it is best to use `-c` together with input from stdin to stay interactive after processing commands from stdin e.g. when reading commands from a file.

[2017-05-23 06:21] 12345ieee commented on #246
This is better than my `-q` suggestion, one less flag.

[2017-05-23 06:29] 12345ieee commented on #246
You forgot the `$` sign to enable newlines.

    scanmem <<< $'cmd1\ncmd2'

This one indeed works and it's definitely better than echo, now, if we could convince `scanmem` not to close after processing this.

[2017-05-23 22:10] bkazemi commented on #246
@sriemer
A `-c` switch would definitely be much less work. I think the second option sounds better. Maybe a single `-c` without arguments could also act as a sort of implicit interactive mode switch as well. But maybe adding an `-i` switch also would be less confusing for that.

[2017-05-24 06:52] 12345ieee commented on #246
@bkazemi Yes, what I meant is that if we can make 'continue' the default mode, we can manually call exit and get the behaviour we want without any extra switches.

[2017-05-24 08:13] sriemer commented on #246
So the current opinion is "leave everything as is, just remove the exit from the scripting mode", right?

I would still prefer introducing a `-c` option as that's definitely more intuitive than
[code]
It is like for a shell then. These also provide a `-c` option to process commands. You can keep your commands at the end of your shell command.

[2017-05-24 08:36] 12345ieee commented on #246
So:
* `sm -c 'cmd'` leaves scanmem open in interactive mode
* `sm <<< 'cmd'` behaves as it does now and should be replaced by `sm -c $'cmd\nexit'`, that's a bit less insane
* `-c` could accept ';' as separators, removing more quotes and disasters

Did I get it all?

[2017-05-24 23:01] bkazemi commented on #246
I also think a `-c` option makes sense. But I think for the sake of separation of concerns the two changes should be separate commits.

[2017-06-01 14:25] sriemer commented on #246
Sounds good. Can be implemented this way.

[2017-06-05 01:58] ListerTheTormentor opened #247 "Can't compile for Android platform successfully"
I Can't compile for the Android platform with NDK toolchain successfully. The host is ubuntu 16.04. Can anyone tell me what's wrong? thanks!
[complie.txt](https://github.com/scanmem/scanmem/files/1050910/complie.txt)

[2017-06-05 12:24] sriemer commented on #247
Sorry, it's a bug in ptrace.c in the case that /proc/$pid/mem is not available/usable. `peekdata()` is called although it has been renamed to `sm_peekdata()`. My fault. I'll fix that.

[2017-06-05 12:24] sriemer commented on #247
Thanks for reporting!

[2017-06-06 08:19] #247 closed

[2017-06-22 20:09] bquenin opened #248 "Realtime memory editor"
I wanted to know if it's possible to add sort of an auto-refresh (every sec for instance) to the memory editor. It would help identifying increasing/decreasing values (timers and such).

[2017-06-22 20:35] 12345ieee commented on #248
Looks doable on paper and reasonably useful, I'll have a look when I've some time.

[2017-06-27 17:57] 12345ieee commented on #248
So, doing it actually realtime would be non-trivial, at least for now.

I added a refresh button, though, that should cover most of the use cases.

Build GC from 12345ieee@0762c15 and see what you think.

[2017-07-03 16:33] 12345ieee commented on #226
So, I had another look at the code.

Inlining the scanning function by force, by copying it and compiling it in clearly gives a good speed boost, but I've found other ways to improve performance.

If we consider a compound `scan_function`, like `int`, it currently calls the other 4 simple types, which is a monumental waste. It's possible to convince the compiler to emit both a callable version, to

[2017-07-04 05:52] bkazemi opened #249 "Automatically set scan_data_type when searching for string"
Since the `"` command is only used when searching for strings, it makes sense to automatically set `scan_data_type` to `string` when this command is entered. It wouldn't break existing scripts because it would make the manually entered `option scan_data_type string` command essentially a noop. Thoughts?

[2017-07-04 06:14] 12345ieee commented on #249
Well, the `string__handler()` is triggered by `"` followed by space, it indeed seems safe to assume that.

The `option scan_data_type string` would not become a no-op, as it forbids you from scanning numbers anyway.

I vote yes. @sriemer ?

[2017-07-04 07:40] 12345ieee commented on #249
Simple implementation at 12345ieee@33a56aa .

[2017-07-04 09:14] 12345ieee commented on #133
On this topic: `sm_checkmatches()` wastes a lot of time out of the hot path by calling `truncval()` (inlined), which sets 10 flags one-by-one.

Commit 12345ieee@5f277fa introduces a value to set them all with a single int16 bitwise operation, for a 10% speedup. This could technically act on uninitialized padding bits if the receiving struct is uninitialized, but in any case the bits we're interest

[2017-07-06 17:49] 12345ieee commented on #70
I have a question here, I @-mention relevant people: @sriemer , @hraban , @coolwanglu .

Why is the endianness swap implemented on the data in memory, instead of on the user-given data?

In `checkmatches()` and `searchregions()` the function is called in the hot path, it was inlined in e536fc90ce1b67149d98db81da31d4dd040ddc60 , but is there some reason it cannot be called just once on the user-giv

[2017-07-07 08:19] 12345ieee opened #250 "Detect_reverse_change & ineq_{forwards,reverse}"
Sorry for the double email, missclick.

For who has seen my comments at cf89a4461d54e34a12044379e158b23a6245 , I was wondering about `detect_reverse_change`.

Currently, it's used together with `>` or `<` to mark also the values that did the opposite transition.
It has the following problems:

* the interaction with `!=` (and possibly other operators) is broken
* moving around the `ineq_{forwards,

[2017-07-07 08:29] 12345ieee commented on #250
Sorry for the double email, missclick.

For who has seen my comments at cf89a4461d54e34a12044379e158b23a6245 , I was wondering about `detect_reverse_change`.

Currently, it's used together with `>` of `<` to mark also the values that did the opposite transition.
It has the following problems:

* the interaction with `!=` (and possibly other operators) is broken
* moving around the `ineq_{forwards,

[2017-07-07 10:15] 12345ieee commented on #250
So, completely removing the mechanism (see 12345ieee@99e984e ) and testing, a good (12% userspace, 5% total) time gain:

OLD:

[code]

NEW:

[code]

[2017-07-07 13:16] hraban commented on #70
Hi @12345ieee !! To be honest this is so long ago, I don't remember the particular decisions I made back then. If it's not clear from the code there should have been a comment, so mea culpa. Moreover, I was never intimately familiar with the codebase. I wanted to fix this issue, so I delved in, tried to understand it, tried to imagine what the best place would be, and implemented a fix. It's very

[2017-07-08 16:17] 12345ieee commented on #208
Fixed in 12345ieee@7afccdc

[2017-07-10 07:55] sriemer commented on #226
Looks good but this breaks compilation on openSUSE. Compiler option `-std=gnu99` is required for this.

[2017-07-10 08:12] 12345ieee commented on #226
That's a good point, this behaviour changed between C89 and C99.
We decided `scanmem` was C99, I applied the C99 version (I compile with C11 by default).

I'll add a commit before this one on my branch, moving to C99.

[2017-07-10 08:19] 12345ieee commented on #226
Here it is: 12345ieee@1b9fd8d and 12345ieee@c144290

[2017-07-10 17:43] bkazemi commented on #249
I meant it would make manually entered `scan_data_type string` from old scripts useless but harmless.

Seems like it was a painless fix. Maybe we could also switch over to an appropriate default number type when a number is entered and `scan_data_type` == `string`. Or maybe that is too reaching.

[2017-07-10 18:14] 12345ieee commented on #249
That would be more annoying, imagine being a new user that wants to scan for the string "123" and keeps getting bounced around.
Honestly, I don't really use the CLI interface (I send things with `echo -e` for development), I'm not sure of what would help the workflow.

Now that I'm pretty familiar with the code I can easily implement simple request like this, if you have good UX changes, propose.

[2017-07-10 18:41] bkazemi commented on #249
This is being typed on my mobile device. Excuse my brevity.

The first thing that could be changed is recognizing the `"` command without a space.

Another change to consider is command completion à la gdb. This would of course be a lot of new code, however.

[2017-07-10 20:18] 12345ieee commented on #249
Recognizing `"` without a space would be not backwards-compatible (as older scripts would search for '(space)string'), I'm not a fan of that.

As for command completion, I had looked into subcommand completion in libreadline (like option->scan_data_type), but it looked like there was no built-in answer and it'd require full manual handling, that is something I do not want to write.

[2017-07-10 20:36] bkazemi commented on #249
Yes, a non-space version would require a major bump. I'll write the command completion code, and see how much new code it takes up.

[2017-07-10 20:38] 12345ieee commented on #249
I'm definitely interested in that, `scan_data_type` gets annoying to type.
Let me know when you have something I can review/test/look at.

[2017-07-11 07:30] sriemer commented on #226
This is merged now. Thanks! Checked with `objdump -S` and my `memfake` tool. Searching for "10" in 500 MiB of zeroed memory drops from 6.9s to 4s. That's 42% less scan time. Looks like your measurement was too imprecise as I get much better results.

[2017-07-11 07:34] sriemer commented on #226
I have to change my tool `memfake` to allocate 1 GiB and more now as scanmem became too fast. 😉

[2017-07-11 08:11] 12345ieee commented on #226
@sriemer , I was searching for '0' (nearly everything matches), so I was also exercising the path that stores matched values.

If you don't, you clearly get better relative performance, I get a -40% as well searching '10', great agreement.

I have ~15 more `scanmem`-related commits that I'd like to merge (some other time improvements as well), do I make a PR?

[2017-07-14 10:14] 12345ieee commented on #226
So, I have finally studied this whole thing in-depth.

What generally slows **string** routines down (bytearray is even worse) is:
* accessing the `user_value->length`, then using it to make decisions.
* testing entry conditions for several loops

Note that `memcmp` DOES NOT help, at least on my machine/compiler.

So, I solved the issue in 3 parts (times are for a 'nearly nothing matches', which i

[2017-07-17 06:41] sriemer commented on #226
The approach sounds good. I did something similar for `memset()` already. Unknown size is always bad for performance.

[2017-07-17 06:44] sriemer commented on #226
Btw.: You're an owner now. So you can commit things on your own now so that it doesn't all depend on me any more. With Lu Wang it was never agreed that I would maintain scanmem/GC alone.

[2017-07-17 06:57] sriemer commented on #249
Yep, sub commands should be completed and yes, `option scan_data_type` is too long. I had a custom patch making all data types top level commands but the former maintainer didn't like it. `type <sd_type>` was the best I could get. Sub command completion would still be required for this.

I'm not a fan of automating the scan data type change and being trapped in there afterwards. It would be better

[2017-07-17 12:02] 12345ieee commented on #226
Thank you, @sriemer , I'll clean this out and then merge a bunch of gui stuff we've left behind since last year.

As for this series, I think I'm going to make a "fixed bytearray" type that can share everything with string but the printing, so I can automatically port the improvements.

[2017-07-17 12:04] 12345ieee commented on #249
Uhm, the issue of exiting the string mode immediately is that if you call `list` (for example) the entries are displayed as integers, that is definitely not what you want (there are also issues with reinterpreting the string length as integer flags, but let's forget about that for a moment).

[2017-07-17 19:52] #196 closed

[2017-07-18 13:53] 12345ieee commented on #198
[I'm doing a clean-up of the dangling issues] So, this question got definitely sidetracked.

I'll look into `PTRACE_SEIZE`, to be able to implement my idea, but this is for another issue.

@korcankaraokcu , currently attach/detach **are** callable by themselves, via `sm_attach/detach()`, for example the scanning functions call these automatically at the start.
These functions are just thin wrapper

[2017-07-18 14:58] korcankaraokcu commented on #198
Thanks for the detailed answer. I guess I can rewrite the required internals. Integrating scanmem with gdb is one of the last steps in roadmap anyway, so there'll be a plenty of time. I'll check scanmem's situation again when the time comes. Let's see what will future bring.

[2017-07-18 14:58] #198 closed

[2017-07-18 15:34] 12345ieee commented on #181
@bkazemi , any news on this?

I have a rather big round of commits incoming, if you have already done part of this, we can merge it before mine, and I can adapt what I wrote.

Otherwise, this will be set back for some point in the future, and I'll remove it for v0.17.

[2017-07-19 00:19] bkazemi commented on #181
I believe I finished it, but there were some bits @sriemer didn't like so I held off on opening a PR. You can have a look on my [code-cleanup](/bkazemi/scanmem/tree/code-cleanup) branch.

[2017-07-19 14:12] 12345ieee commented on #181
I had a look, and I have to say I agree with @sriemer , that thing is completely unreadable (I understand it's machine generated, but we've still got to read it all).

Plus, I'm not a fan of touching up a lot of unrelated lines in huge sweep-them-all commits, as it messes up future blames.

I guess for now I'll put this aside, and just change up things that are around where we change code for vali

[2017-07-19 22:02] bkazemi commented on #181
Yeah, in retrospect I think the best way to go about it is in individual parts. I have the typo fixes. I'll open a new branch.

[2017-07-21 16:15] 12345ieee commented on #197
So, I am now taking new features suggestions (it's more or less Christmas time, isn't it?).

So, is there some feature that's actually missing and is still needed or I can close this?

[2017-07-21 16:29] 12345ieee commented on #200
@bkazemi , how is this one going?

It's something I'd really like to have for v0.17, if you need any kind of help, just ask.

[2017-07-21 17:00] davidebeatrici commented on #197
All of the features are present.

[2017-07-21 17:00] #197 closed

[2017-07-22 04:53] bkazemi commented on #200
I believe this one is almost finished; I just need to add some more code in `handlers.c`. I'll put this at the top of my TODO list.

[2017-07-24 16:54] #248 closed

[2017-07-24 17:36] 12345ieee opened #254 "GameConqueror: call for translators"
#### [Message to all scanmem/GameConqueror watchers]

In preparation for the v0.17 release, I'd like to call the current (and possibly new) translators to update the current GameConqueror translations, or add new ones.

I'm paging:

* Japanese: @kuina (hopefully they are the right user)
* Russian: @ignatenkobrain
* Italian: myself, already done
* Polish: @mdziczkowski seems to have an unpublished

[2017-07-25 06:34] vido89 commented on #254
Where I could find a list of on which language is already translated ? Tnx

[2017-07-25 07:07] 12345ieee commented on #254
In the [po folder](https://github.com/scanmem/scanmem/tree/master/po).

We have Japanese (incomplete), Russian (incomplete), Italian (complete).

[2017-07-25 12:20] vido89 commented on #254
Ok tnx I created SR/ME translation of it and created pull request, cheers :)

[2017-07-26 07:54] sriemer commented on #70
As long as bytes don't have to be swapped there is not much of a performance penalty. As I don't need that as all my systems are LE, I don't care for performance penalties when bytes have to be swapped.

[2017-07-26 07:58] 12345ieee commented on #70
Yes, indeed, you can just see a penalty of ~10% on the LE vs BE case.

In any case, moving away the byte swap is not feasible in general, not without huge complications on the `BIGGER/LOWER_THAN` scans, so now that I've understood the code I'd say there is nothing to do.

Thanks for the input guys.

[2017-07-26 08:01] bkazemi commented on #200
Alright, I have everything implemented. It is still without the final touches. There are some subtle bits in the code, I will be sure to add comments later. Having parsers like this should make input sanitation more robust.

[2017-07-26 08:47] 12345ieee commented on #200
Can you make a PR when you have a semi-final version? It's easier to review/discuss that way.

[2017-07-31 11:02] #250 closed

[2017-08-09 12:10] sriemer opened #260 "Coverity Scan reports memory leaks (settings calloc() in handlers.c)"
@12345ieee Please fix the memory leaks you've introduced with commit 7d2c52c6b9bd12717f122b3045162e1f9f97a9dd.

See: https://scan.coverity.com/projects/scanmem/view_defects

Furthermore, an explanation why putting stuff on the heap instead of on the stack is required would be nice. I know that alloca() is not very portable.

I've checked the whole PR #259 with Coverity Scan.

[2017-08-09 12:27] sriemer commented on #260
I see at least four locations where `settings` is not freed. Coverity only reports three this time.

[2017-08-09 19:38] 12345ieee commented on #260
I'm sorry @sriemer , the idea was that the user is in control of how may structs we allocate in that case, and I don't want them to blow the stack with `alloca()`.

I followed the previous commented free's, but I clearly missed some locations.

I'll have a better look tomorrow, thanks for stepping up.

[2017-08-09 19:51] #260 closed

[2017-08-09 19:53] 12345ieee commented on #260
I have reverted the offending commit, and will think better next time before messing with memory allocation.

Thanks for reporting it this fast (and for adding me to the Coverity team, I hadn't noticed).

[2017-08-10 02:02] bkazemi commented on #260
While on the subject,  `alloca()` is unnecessary as c99
supports variable length arrays.

[2017-08-10 07:24] 12345ieee commented on #260
But they've been made optional as of C11, so I'm not really 100% sure what is now the "proper" way to allocate memory on the stack.

[2017-08-10 08:09] sriemer commented on #260
All green again. Thanks! A full revert wouldn't have been required. Coverity Scan can check code before submitting it to the master branch.

[code]
And then that file is uploaded for analysis.

[2017-08-10 08:12] 12345ieee commented on #260
I use a kernel (4.11) that's too new for Coverity, and their tool fails on my environment.

I uploaded this new tarball (from the tip of the rebased VLT branch) from a VM, but it's a huge pain doing that consistently.

[2017-08-10 08:34] 12345ieee commented on #208
Memo for me, fix this one better.

[2017-08-10 14:34] bkazemi commented on #260
`scanmem` doesn't support c11, so it should be ok.

[2017-08-16 07:55] 12345ieee commented on #246
I have a simple implementation of this at 12345ieee/scanmem@07ea9913351fe1a4 .
It uses `strtok_r()`, due to strtok nesting in `execcommand()`, I'm not exactly sure how portable this is.

Please have a look.

[2017-08-24 08:25] #226 closed

[2017-08-24 08:25] #204 closed

[2017-08-24 09:25] 12345ieee commented on #234
What happened with this one? Now I definitely get the point.

The safest way is definitely @sriemer 's, via manual sign parsing and then a `uint64_t res = strtoull(...)` for the number.
Rebuilding the number later is easy once you've ensured it would be a valid `int64_t`.

[2017-08-26 17:18] 12345ieee commented on #231
Uhm, this is marked as v0.17. @asdf23 , what of this is still relevant/needed?

[2017-08-28 01:37] bkazemi commented on #234
I have so many things in the pipeline, I forgot about opening a PR. I'm working on some `scanmem` stuff today, I can open a quick PR.

[2017-08-28 06:15] 12345ieee commented on #234
Again, no hurry, we're all doing this for fun. I thought you had it ready, I can do it as well.

I'm trying to wrap up all these low hanging fruits and release v0.17 before the summer period ends, at which point I'll have much less free time.

[2017-08-28 06:36] sriemer opened #263 "gui: Unable to launch pkexec'ed applications on Wayland session"
Just FYI: There is trouble with GameConqueror when running it on Ubuntu 17.10 with Wayland:
https://bugs.launchpad.net/ubuntu/+source/scanmem/+bug/1713313

It is basically a Wayland bug and there is nothing to be done from our side. I'd just like to raise awareness and that we need to test GC against Wayland.

[2017-08-31 19:39] yodatak opened #265 "'?' doesn't work in fedora 26"
With the master compiiled and the package in the repository I can't click on '?' and have the usage of the command displayed. Is that normal?

[2017-09-01 07:27] 12345ieee commented on #265
It's not clear what you're asking, but you might be victim of #263 .

Run `gameconqueror` on a terminal, post the output.
Also, check if you're running X or Wayland.

[2017-09-01 10:11] sriemer commented on #265
It is correct that you cannot click at the '?'. It should show the help for the value input in a popup with a mouse hover event.
Is the question answered?

[2017-09-01 10:13] 12345ieee commented on #265
I had totally misunderstood that, @sriemer 's interpretation makes much more sense.
Indeed the '?' is not clickable.

[2017-09-01 10:16] sriemer commented on #265
I've changed the question with the correct punctuation marks. 😉

[2017-09-08 19:48] 12345ieee commented on #234
I should have implemented this correctly in 630a1db .
Please ignore the different syntax for setting flags, I'm cooking a flags rehaul.

[2017-09-09 10:25] #186 closed

[2017-09-12 12:22] 12345ieee commented on #265
I assume that by now @yodatak has got the '?' working.

Closing this issue.

[2017-09-12 12:22] #265 closed

[2017-09-17 21:49] 12345ieee commented on #200
#266 has been merged, so this has been implemented.
Closing.

[2017-09-17 21:49] #200 closed

[2017-09-24 13:36] #246 closed

[2017-09-25 20:51] bkazemi commented on #187
@12345ieee Does `sets.c` help to fix this issue at all?

[2017-09-26 10:17] 12345ieee commented on #187
@bkazemi , not really.
This has to work on floats as well and should use information (like the scan type) that the set doesn't have access to.

Actually, thanks for reminding me, I think I have a decent idea on how to fix this after I'll merge 12345ieee/scanmem@ed28c16 & 12345ieee/scanmem@f4c1d73 , by introducing a "minimum scan flag" for each scantype, ANDing it with the incoming flag and testing

[2017-10-02 05:07] bkazemi opened #271 "Float bugs"
An enveloping issue for the float bugs. Float comparisons are a tricky beast due to the nature of floats.

For example, the `+` operator is pretty fickle ATM.

For reference: http://floating-point-gui.de/errors/comparison/

[2017-10-02 10:12] 12345ieee commented on #271
Eh, you're not wrong, but they are really not "bugs", it's just that a naive user won't probably get what they want if they try to treat floats as exact numbers.

I'm against introducing some flavor of epsilon-comparison by default in the scan routines themselves, they are already slow without the extra baggage and it's tricky to implement, as the link shows.

The solution to the `+ N` issue would

[2017-10-02 14:23] #208 closed

[2017-10-02 21:46] bkazemi commented on #271
Good point. I updated the title.

[2017-10-03 15:22] 12345ieee opened #273 "Use the new set struct for the set command"
The current structure of a set command is:

`set [match-id[,match-id,...]=]n[/d]`, the `[match-id[,match-id,...]` part could be converted to a set, now that we have it, with the relative advantages in flexibility & correctness.

Adding for future milestone, I imagine @bkazemi could be interested in this.

[2017-10-03 15:31] 12345ieee opened #274 "Add `!` support to sets"
Add support for a `!` token, with some reasonable meaning, so that a set can cover the syntax of `dregion` as well.

Currently `dregion` accepts a `!` only at the beginning, with the meaning "invert the list", any implementation of `!` in sets that obtains a similar effect will be fine, IMHO.

Adding for Future.

[2017-10-04 02:06] bkazemi commented on #273
Hmm, maybe it wouldn't be a bad idea to add a kind-of set element "binding" value to handle `elem=...`. We could make it an optional flag to pass to `parse_uintset`.

[2017-10-04 08:32] bkazemi commented on #273
Ah, I see. That is definitely a better way to go. It'd keep the set 'datatype' pure.

[2017-10-04 17:04] vaelund commented on #254
I am working on a german translation, should be done tomorrow.

[2017-10-04 21:32] bkazemi commented on #273
I'll go ahead and assign myself. I could get this into `v0.17`, if you'd like.

[2017-10-05 07:35] 12345ieee commented on #273
Let's put a date on, it, shall we?
Barring absurd circumstances, I think we can release v0.17 on the Oct 13-15 weekend.
I think you'll have no problems adding this by that date, if you want it in for v0.17.

I'll open an issue for that, so everybody can weight in on the remaining tasks (like the man pages).

[2017-10-05 08:51] #274 closed

[2017-10-05 16:09] 12345ieee opened #278 "Last tasks before v0.17"
It's IMHO time to release a new (major) version, to bring users all the speed and usability improvements added. I'd like to release during the weekend of 13-15 October.

I think I'll write the release announcement this time, unless @sriemer wants to do it himself.

This issue tracks the last things needed before we can release, @scanmem/committers feel free to edit this checklist as you see fit or

[2017-10-05 16:37] sriemer commented on #278
Go for it! Thank you very much for taking over maintaining for `v0.17`! 🥇  I really appreciate that and I also like the improvements done for `v0.17`. Bringing it to the distributions is the next step after the release.

[2017-10-05 16:43] 12345ieee commented on #278
Thanks, @sriemer !

On the distributions topic, the split between libsm and sm is IMHO complete.
It should be possible to ship libsm and libsm-dev packages, and have them NOT depend on libreadline/terminfo, as I have confined readline use in the CLI frontend only, so other front-ends based on whatever input methods can be developed.

If you have any problems convincing the debian packaging tools o

[2017-10-05 17:07] vido89 commented on #278
Great news and good work :)

[2017-10-06 03:29] bkazemi commented on #179
I think there is probably too much to do here for `v0.17`. I've looked at the interface @bobbyhopere described, and you still can't see where the stack and heap regions are. If there is no way to find out, I will have to simply disallow searching in specific regions for BSD. Moving to `v0.18`.

[2017-10-06 07:38] bkazemi commented on #273
I have this done in O(n^2) (as it was). If this is too slow, it can be changed. I set over 200,000 elements pretty quickly, however.

[2017-10-06 09:26] rubenvereecken commented on #278
I love what you're doing here, and good work setting yourself a deadline for the v0.17 release!

Have you considered having a channel for more direct communication between contributors? I'm definitely interested in this project and think I could contribute as I go about using it. For one, I used the Android build yesterday and can relay my experience with it, update the script's UX since it does n

[2017-10-06 09:38] 12345ieee commented on #278
Thanks, @rubenvereecken .
The android build definitely needs some love and testing, and we welcome any help on that front.

As for a channel, I wanted to integrate a [gitter chat](https://gitter.im), but haven't got around to do it.
Maybe it's time.
I considered IRC, but we are too few and I have no always-connected hardware to run an always-online IRC bot.
I'm open to alternative suggestions.

[2017-10-06 09:46] rubenvereecken commented on #278
I really don't want to push any external services because I don't care enough, but I've used Gitter and Slack with open source projects and found both worked well and the latter a preferable. I feel people are getting used to seeing Slack.

And yeah on the note of IRC, neither do I. I've used Slack's IRC interface for a while though.

Best to be set up by the main contributor of course.

[2017-10-06 09:53] 12345ieee commented on #273
I thought I would then restructure `set` the same way I did `delete`, with parallel walking of set and matches array in `O(N)`, which seems feasible.

Of course, here it doesn't matter that much, as calling `ptrace()` takes the majority of the time anyway, but I wanted to do that as well while I was messing with `handler__set()`.

Ah, you might want to base your work over #275 from the start, so y

[2017-10-06 19:46] 12345ieee commented on #278
Going on on the chat choice, I had a look at both gitter & slack, they are pretty much equivalent in layout/capabilities/GH support.

I also use discord, but that one is geared towards videogamers, and skype, which I hate with all my heart, so they're both excluded.

IRC is excluded as well as said above.

So, any preference between gitter and slack from @scanmem/committers ?

[2017-10-06 23:35] bkazemi commented on #273
Alright, I'll leave it O(n^2) and you can change it whenever.

[2017-10-09 04:22] bkazemi commented on #278
Never used this kind of feature, so no preference from me.

[2017-10-09 10:38] 12345ieee commented on #273
#281 was merged, I leave this open for the `O(N)` change and the float preference issue of https://github.com/scanmem/scanmem/pull/281#issuecomment-335120802 .

Moving that for 0.18 .

[2017-10-09 15:31] 12345ieee opened #282 "Improve the testing framework"
General place to discuss about the testing framework.

It would be a good idea to check the program output, or try all handlers at least once, just to state the obvious.

[2017-10-09 17:04] 12345ieee commented on #278
Given no preference, I followed @rubenvereecken 's suggestion and went with slack.
It looks nice, here is an [invite link](https://join.slack.com/t/scanmem/shared_invite/enQtMjUzMDYxNDE0ODAxLWE5MjUzNjIzMmYyZmRhMTJiNjM4OWU4NjM2NTMxNDVmODZmNDY3ZjMyYjM2ZjQ1ZjUzYmFkYTNiNTYxM2M4ZGM) for who's interested.

[2017-10-11 18:46] 12345ieee commented on #278
The manpage update is here: 12345ieee/scanmem@2c3a01e , have a look.

[2017-10-12 09:35] rubenvereecken commented on #278
Manpage looks good to me!

[2017-10-13 21:52] 12345ieee commented on #278
I've written a release announcement and I plan to upload it and release v0.17 tomorrow morning.
(You guys have 8 hrs to try to find showstopper bugs 😄 )

Many thanks to everybody that contributed to this release.

[2017-10-19 16:17] 12345ieee commented on #278
Closing, as we actually released a while ago.

I'll open a new thread to discuss features for 0.18 .

[2017-10-19 16:17] #278 closed

[2017-10-19 16:33] 12345ieee opened #285 "Fetures for 0.18"
I'll list some ideas for v0.18 (in addition to the issues already posted), so that old & new contributors can give their opinion and/or find ideas to work on.
Feel free to edit the post and add more or discuss either here or on chat.

Not everything is really feasible, but hey, always aim for the stars.

CLI
* `alias` command for CLI, as in `alias foo='<blob of stuff>'`, bash-like. The technical m

[2017-11-05 02:29] frenchiveruti opened #286 "Policykit issues on Puppy Linux"
Hello, I'm kind of crap when it comes to linux installations, I feel like I end up bloating my distro a lot and don't know what the hell I'm doing.
I'm using Puppy linux, and I get this message once I had installed the scanmem and gameconqueror.
"Install Policykit!"
What the heck does that mean? Puppy is a root only OS. So a policy really isn't a thing I need.
Is there a way around it? My puppy us

[2017-11-05 10:16] 12345ieee commented on #286
I see Puppy is an Ubuntu 14.04 derivative, so in all likelihood the packager just removed the dependency on policykit without updating the launch script.

I need to know:
* What version of GC have you installed
* How did you install it (source compile or some package)
* The content of the `gameconqueror` launch script (find it with `which gameconqueror`)

[2017-11-05 16:53] frenchiveruti commented on #286
Hi there!
So, I just cloned the git master folder yesterday (I really don't know how to check the version).
Ran the exact commands posted here on the Git.
(autogen.sh
then configure with gui
then make install)
Finally:
`#!/bin/bash
DATADIR=/usr/share/gameconqueror
PKEXEC=$(command -v "pkexec")
if [ -n "$PKEXEC" ]; then
    $PKEXEC $DATADIR/GameConqueror.py "$@"
else
    echo "install policykit!"
f

[2017-11-05 16:56] 12345ieee commented on #286
Ok, just change the `gameconqueror` script to:

[code]

which should do the trick, assuming you are actually using `root`.

[2017-11-05 16:58] frenchiveruti commented on #286
I think I have to update python now:
[code]

[2017-11-05 17:01] 12345ieee commented on #286
The README has a list of requirements.

You can skip policykit because you're root, but you're going to need the rest.

[2017-11-05 17:03] frenchiveruti commented on #286
Ok, So I have Python 2.7 so it should work.
Maybe has something to do with [this](https://askubuntu.com/questions/80448/what-would-cause-the-gi-module-to-be-missing-from-python)?

[2017-11-05 17:05] 12345ieee commented on #286
### Requirements

libscanmem (latest version) - OK
Python (2.x / 3.x) - OK
PyGObject  - you're missing this
GTK+ 3 - and possibly also this
policykit - you don't need this

[2017-11-05 17:07] frenchiveruti commented on #286
I'm sorry to bother you so much 😞
I really shouldn't be messing with this if I don't know that kind of level of Linux.
Thanks anyways for your help, my OS is an special kind...

[2017-11-05 17:11] 12345ieee commented on #286
It's just a matter of installing the right packages, but I can't help you there, you have to find your distro's support channel.

If you also want my unsolicited opinion, while you're still learning it's better to use an easy and standard distro, like some user-friendly Ubuntu derivative.

Closing, as there's nothing to fix.

[2017-11-05 17:11] #286 closed

[2017-11-05 17:25] frenchiveruti commented on #286
Hi there again, solved it installing the "python-gi" for python 2 as it seems to be the one working here.
The distro comes with GTK so that was not the issue, GameConqueror is now running.
Thanks!

[2017-11-10 01:15] bkazemi commented on #285
An android front-end is actually should be feasible, but will be quite a bit of work; a dedicated branch would be best for that. Probably a mix of Android NDK and something like QPython.

[2017-11-15 20:36] 12345ieee opened #288 "Status of v0.17 in the distributions"
Let's have a look at which distros picked v0.17 up (table from #119 ) :

| Distribution | Maintainer(s) | Latest Unstable | Link |
| --- | --- | --- | --- |
| Arch | Levente Polyak ( @anthraxx ) | 0.17-1 | https://www.archlinux.org/packages/community/x86_64/scanmem/ |
| Debian | Sebastian Parschauer ( @sriemer ),<br> **Uploader:** Kartik Mistry ( @kartikm ) | 0.17-2 | https://tracker.debian.org/pk

[2017-11-15 23:05] ignatenkobrain commented on #288
yay, I'm the only one keeping scanmem up2date!

[2017-11-16 11:21] shlomif commented on #288
On Wed, 15 Nov 2017 20:37:14 +0000 (UTC)
Andrea Stacchiotti <notifications@github.com> wrote:

Actually, scanmem in mageia cauldron is at 0.17 and has been upgraded on
October 24. Is there a good reason why it should be upgraded in mga v6 too?

Regards,

-- @shlomif

--
-----------------------------------------------------------------
Shlomi Fish       http://www.shlomifish.org/
Selina Mandrake -

[2017-11-16 13:56] 12345ieee commented on #288
Thanks for the answer, @shlomif .
I don't know the distro well enough and I blindly followed the link in the old issue.

Now I see at https://madb.mageia.org/package/show/name/gameconqueror/release/cauldron that it's updated to 0.17.

No need to update it in the stable release, 0.15.7 is recent enough and does not have huge issues.

Thanks to @ignatenkobrain as well.

[2017-11-16 17:00] shlomif commented on #288
On Thu, 16 Nov 2017 13:56:37 +0000 (UTC)
Andrea Stacchiotti <notifications@github.com> wrote:

you're welcome.

thanks for the info.

--
-----------------------------------------------------------------
Shlomi Fish       http://www.shlomifish.org/
Best Introductory Programming Language - http://shlom.in/intro-lang

There are two types of command interfaces: good interfaces and user interfaces.

[2017-12-02 13:32] ChaosNicro opened #289 "AM_PROG_CC_C_O error at autogen time"
Hey there,
I'm trying to run autogen.sh but fail with the line:
`test/Makefile.am:4:` warning: compiling 'memfake.c' with per-target flags requires 'AM_PROG_CC_C_O' in 'configure.ac'`
The documentation for autotools says that his method is deprecated, is that the problem or did I mess something up? All dependencies should be present.

Full log:
[code]

[2017-12-02 13:37] 12345ieee commented on #289
This looks really weird, can you post your `automake` version (from `automake --version`) and your distro/compiler?

[2017-12-02 14:37] ChaosNicro commented on #289
sure:

`automake (GNU automake) 1.13.4
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv2+: GNU GPL version 2 or later <http://gnu.org/licenses/gpl-2.0.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Written by Tom Tromey <tromey@redhat.com>
       and Alexandre Duret-Lutz <adl@gnu.org>.`

`gcc (SUSE Linux

[2017-12-02 14:41] 12345ieee commented on #289
Ah, old `automake`, that's why I had no such issue.

Add `AM_PROG_CC_C_O` to `configure.ac`, at the 8th line and retry.

[2017-12-02 15:04] ChaosNicro commented on #289
Going with latest automake/conf seems to solve the issue just as well as adding that line with the old version now both are stuck on this:

+ running libtoolize ...
+ running aclocal ...
configure.ac:12: warning: AM_NLS is m4_require'd but not m4_defun'd
m4/intltool.m4:27: IT_PROG_INTLTOOL is expanded from...
configure.ac:12: the top level
configure.ac:12: warning: AM_NLS is m4_require'd but not m

[2017-12-12 14:03] anthraxx commented on #288
slipped through my watch diff, will package it in the evening :tada:

[2017-12-19 19:51] apocalyptech opened #290 "GUI Feature Request: "snapshot" use in gameconqueror"
Hello!  It'd be nice to have the ability to use "snapshot" in the GUI.  Obviously one can just use the CLI scanmem, but the GUI's fairly pleasant, and it'd be a nice addition.  I wonder if it'd make more sense as a separate button, next to 'reset'.

If I'm feeling adventurous later, I may see about putting a pull request for this together.

Thanks!

[2017-12-19 19:57] 12345ieee commented on #290
It's already there, as the `?` command (enter it in the search textbox).
Sure, we forgot to document it, so it's almost like it's not there.

I'll fix this later.

[2017-12-19 20:15] apocalyptech commented on #290
Oh, what the hell - I spent like ten minutes combing through the popup help dialog next to the text entry box there, and on every readthrough somehow managed to miss the very-clearly-labelled "?" entry.  I think this is actually probably documented just fine, and I'm just being a fool by not seeing it.  :)

I'll go ahead and close this out, this already works just how I'd hope it would.  Thanks, a

[2017-12-19 20:15] #290 closed

[2017-12-19 20:17] 12345ieee commented on #290
The funny thing is that I missed it as well while looking for it 2 minutes ago.
I'm probably putting it after the operator options, which is a more logical place.

Closed.

[2017-12-30 23:23] yodatak opened #292 "gameconqueror don't run on my Fedora"
Hi everyone, i just made a fresh install of gameconqueror and it don't run it ask me my user password for runing and after nothing.
I'm with fedora 27 and gameconqueror  and scannmem
gameconqueror-0.17-1.fc27.x86_64
scanmem-libs-0.17-1.fc27.x86_64

When i try to run in terminal with or without sudo it gave me
`No protocol specified
Unable to init server: Could not connect: Connection refused
No pr

[2017-12-31 14:44] 12345ieee commented on #292
I think you are affected by #263 .
This is an upstream issue in the wayland/pkexec interaction and we can only wait for it to be fixed.

In the meantime you can either use X or run GC as normal user (you might need to disable the Yama security module for it to work).

I also recommend filing a bug with your distro, or link it here, if you already did.

[2018-01-01 01:21] yodatak commented on #263
I find a temporary fix for run with wayland in terminal
`
xhost +local:
gameconqueror`
And it works but a workaround so we must wait to be fix.

[2018-01-09 07:43] sriemer commented on #289
Same issue when packaging `scanmem 0.17` for SUSE distros. @12345ieee: Would be nice if you would send me the commit id of your release candidate before releasing for testing via direct e-mail. The SUSE build service covers many CPU architectures and OS releases. Fails on Leap 42.* and SLES12-SP*.

[2018-01-09 08:44] sriemer commented on #289
Adding `AM_PROG_CC_C_O` to line 12 works. But then `make check` fails as it uses scanmem from `.libs/` and that one doesn't look for `libscanmem.so.1` in the same directory. Checks which rely on libscanmem to be already installed are pointless. So it seems to be best to remove the `test` subdir from compilation for distributions for now as this feature is not ready yet.

[2018-01-09 08:46] sriemer commented on #289
openSUSE doesn't require root privileges for `ptrace()` so in theory it could run `make check` during the package build.

[2018-01-09 14:01] 12345ieee commented on #289
Nice to see you around, @sriemer .

I had #278 open before release and have #288 open now for maintainer woes.
I'll open a new issue before releasing a new point release, but I'll be sure to send you an email if that's better for you. As of now, the commit is the one tagged `v0.17`, aka 4590cbb .

About `AM_PROG_CC_C_O` I have an `automake` new enough that it's not needed, and so have the other ma

[2018-01-09 15:19] sriemer commented on #289
Thanks! The "make check" thing is a libtool bug. The generated `scanmem` wrapper script doesn't escape colons in the path but colons are the delimiter for `LD_LIBRARY_PATH` and are used inside OBS project names. Reported as https://bugzilla.opensuse.org/show_bug.cgi?id=1075196.

[2018-01-09 15:27] sriemer commented on #289
Backwards compatibility is always preferred - especially for C tools. It should always be possible to build `scanmem` on older distributions. Adding the `AM_PROG_CC_C_O` doesn't hurt. So I hope to see it in `v0.17.1`.

[2018-01-09 15:47] 12345ieee commented on #289
Glad you got the `make check` bug sorted.

As for backwards compatibility, I agree, I was just not sure if it was the issue the OP was having.
I'll add it in a commit shortly.

[2018-01-10 12:23] sriemer commented on #289
This is fixed. Thanks!

[2018-01-10 12:23] #289 closed

[2018-01-10 12:35] sriemer commented on #288
openSUSE only provides `scanmem` as part of the official distribution via the `devel:tools` project. scanmem 0.17 is [on its way to Factory](https://build.opensuse.org/request/show/563206). Might not be too late to end up in Leap 15.0. As the security guys don't like `pkexec` stuff, I provide GC in my home project as well. Will update it soon.

[2018-01-10 12:41] 12345ieee commented on #288
Thanks @anthraxx , updated.

----------------------

Good to hear, @sriemer .
Maybe place a link to both scanmem and GC pages, as they are different.

Will you do the Debian packaging as well?

[2018-01-10 13:19] sriemer commented on #288
Thanks for your great work for `v0.17` @12345ieee and congratulations on more commits than I have! 🎉 You really saved me when I didn't have enough time for scanmem any more. I just finished quickly reviewing the commits to catch up.

After a severe development direction issue with my tool ugtrain I've got things sorted out there and started to get it rolling again. It will have priority for me as

[2018-01-10 13:57] 12345ieee commented on #288
Thank you, @sriemer .

About "competing" projects, there's your ugtrain and @korcankaraokcu 's PINCE that supply interfaces and high-level capabilities, so I'm thinking about going into an orthogonal direction.

That is working most on making libSM a powerful and fast memory scanner library and less on the GUI (the last part, the CLI frontend, is mostly @bkazemi 's domain right now), so that you g

[2018-01-10 14:29] sriemer commented on #288
https://github.com/scanmem/scanmem/blob/3b4bf8366c6fe2e15798ab252cfeda76fb003105/Makefile.am#L47
This is blocking me from splitting the library. `libscanmem.so.1` was almost everything already. I need libscanmem version 2 for this. So I can't rely on stable interfaces there. Also the interfaces aren't documented yet. Debian also doesn't want to split the library before there is another library use

[2018-01-10 14:44] 12345ieee commented on #288
I see, there is a library user, but it's the same source package, so it "doesn't count".
Makes sense, next release we'll make a better documented libSM and make it version 2, then we'll see if we find users.
Thanks for the `pkg-config` link.

I thought that with the library split some versions ago `ugtrain` started to call the library as well, but if you call scanmem directly there's really no urg

[2018-01-11 08:19] sriemer commented on #288
SUSE packaging updated. On its way to Leap 15.0 to be released in April. GC is also working fine. I only had to drop lang sr_ME - not provided by the distro. I like it. Works as expected. Well done!

[2018-01-16 08:14] sriemer opened #295 "Lintian complains about legacy format in GameConqueror.appdata.xml"
[code]

See: https://lintian.debian.org/tags/appstream-metadata-legacy-format.html

Blocks Debian packaging for #288.

[2018-01-16 19:55] 12345ieee commented on #295
Thanks for starting the packaging, @sriemer !

I'm tagging this as [Help Needed], as I don't know the new appstream spec and can't study it in these days.
@ignatenkobrain wrote it initially, maybe he can help.

I'll take a look this weekend if nobody had before then.
Worst case, we can drop it.

[2018-01-19 08:02] sriemer commented on #295
New location: `/usr/share/metainfo/`. This way only the error remains.

[2018-01-20 00:04] kartikm commented on #295
@sriemer Can you backport this to 0.17 in Debian package, so we are clear to upload? :)

[2018-01-20 13:30] sriemer commented on #295
@kartikm: Sure, got it in my private repo https://salsa.debian.org/spars-guest/scanmem-test for testing. Only width and height are different due to the need to merge with 0cc3830215c131a4b54cbd43f9199cfb68f6ab3e. Still got some trouble with the Debian guidelines regarding this: https://wiki.debian.org/AppStream/Guidelines

[code]

`appstreamcli validate` wanted to have the new format like `com.git

[2018-01-20 18:13] sriemer commented on #295
@kartikm: Upstream PR created, pushed to https://salsa.debian.org/debian/scanmem for package testing.

[2018-01-21 22:28] #295 closed

[2018-01-22 00:12] 12345ieee opened #298 "Update name of GC policy to `org.scanmem...`"
Do this to match the change done to the other files in #295 .

Slated for v0.18, to not break compatibility in 0.17.

[2018-01-23 08:03] sriemer opened #300 "gui: Should use Python 3 in shebang line by default"
No distribution allows to package Python tools which support Python 3 still as Python 2. So the shebang line in `GameConqueror.py` should be changed accordingly s/python/python3/.

I have a patch for this and this is already included in Debian packaging (#288).

@12345ieee: Are you fine with the change?

[2018-01-23 18:57] 12345ieee commented on #300
I'm not sure I understand the idea behind it, @sriemer .

AFAIK, python is now in a "transition phase", with most distros shipping both python's and some having py2 as default, some py3.

GC was maintained compatible with both python versions (it was not easy, back in 0.16) and the shebang set to `python`, so that we wouldn't choose a version for the user, but we'd work with whatever the distro pr

[2018-01-23 22:13] 12345ieee commented on #292
Closing as duplicate of #263 .

For google-nauts, @yodatak posted a workaround here: https://github.com/scanmem/scanmem/issues/263#issuecomment-354632024 .

[2018-01-23 22:13] #292 closed

[2018-01-24 06:42] sriemer commented on #285
* transition to **Python 3 only** as distros are dropping Python 2

[2018-01-24 06:44] sriemer commented on #300
Okay, let's do the transition then for v0.18 then.

[2018-01-24 06:44] #300 closed

[2018-01-24 07:12] sriemer commented on #288
Bug reported to Gentoo: https://bugs.gentoo.org/645536

[2018-01-24 08:56] sriemer commented on #288
Alright, scanmem/GC in my home project on opensuse.org now also uses Python 3 and the new metainfo.

[2018-01-24 09:01] sriemer commented on #288
TODO: Update my Ubuntu game-cheating PPA for backporting to older distros at https://launchpad.net/~s-parschauer/+archive/ubuntu/game-cheating.

[2018-01-26 16:58] sriemer commented on #288
Ubuntu trusty, xenial and artful users can also get `v0.17` by using my updated game-cheating PPA:
https://launchpad.net/~s-parschauer/+archive/ubuntu/game-cheating

Bionic will get `0.17-2` from Debian. Kartik only updated the `debian/watch` before uploading my latest changes.

[2018-01-26 17:32] 12345ieee commented on #288
Thanks a lot to both @sriemer  and @kartikm for the work you've done.
I added a line with your PPA to the OP's table.

[2018-02-03 17:39] hopeseekr opened #301 "Search for pointers?"
I need the ability to search for pointers because the memory address changes with each level of the game I am playing and I hate killing the guy 4-6x each round just to find the health variable.

[2018-02-03 19:44] 12345ieee commented on #301
I assume you're talking about the GUI:

the feature is already implemented, right-click on a variable in the result list (left part) and you'll see a "Scan for this address" entry.
This isn't available for variables in the cheat list (bottom), I might add it there as well if it's useful.

[2018-02-05 09:57] sriemer commented on #301
Is the found health value located on the heap?

I guess you're talking about the `Cheat Engine` method to find pointers in static memory pointing to heap objects. Also on Linux it is required to use a debugger (e.g. `gdb`) and a watch point to locate the code which modifies the interesting memory value. With the code part you get the offset of the health member within that object and with that als

[2018-02-05 10:45] sriemer commented on #301
I've even tested the `Cheat Engine` pointer following stuff on Windows with trainer auto-generation for `chromium-bsu` See: https://github.com/sriemer/spars-coding/tree/master/CheatEngine/chromium-bsu

That stuff doesn't support wish values. So I had to use the same key to toggle freezing and to set the configured value to my wish value.
In the .CT XML file it is visible that `Cheat Engine` also w

[2018-02-05 18:44] 12345ieee commented on #301
Thanks @sriemer for answering the question as it was probably intended.
I simply answered it as stated and I didn't really give a useful answer.

To make the feature more useful we could start a series of searches on the address going back `sizeof(variable)` each time (assuming aligned members), hoping to find a single match after a while, but this looks way too much "needle in a haystack" to spen

[2018-02-21 11:38] sriemer opened #304 "Performance penalty because of Meltdown/Spectre mitigation?"
Latest kernels contain Meltdown/Spectre mitigations KPTI/KAISER and IBRS/Retpoline for the Intel CPUs. Always when we have to switch over to the kernel, then there is a performance penalty because of the kernel page table isolation.

Basics: https://imagefactory.otc.t-systems.com/Blog-Review/SpecExLeak/Benchmarks.html

When looking at the initial scan, then there is not much measurable performance

[2018-02-21 12:54] 12345ieee commented on #301
This was answered in detail, so closing.

[2018-02-21 12:54] #301 closed

[2018-02-21 17:37] sriemer commented on #304
With `nopti nospectre_v2` the same test requires only **2min 5s**. I've repeated this twice and confirmed the **2min 42s** with the mitigations. So it takes 162s * 100 / 125s - 100% = **30% longer**.

So fixing #133 became even more important.

[2018-02-21 17:40] sriemer commented on #304
Tested kernel: 4.4.114-42-default on openSUSE 42.3.

[2018-02-21 18:15] 12345ieee commented on #304
This is a really interesting benchmark.
So, you are testing 1.5 GB of memory (I remember you used to test on 500 MB, nice progress here!), which means you're calling `ptrace()` roughly 1.5e9/8 times.

The extra time wasted is 37 secs, so we see 37s/(1.5e9/8) = ~200 ns/call, which is perfectly in line with the claimed slowdowns of the article you linked.
So we understand the cause very well.

Now,

[2018-02-21 22:53] 12345ieee commented on #133
I have great news, what I was detailing in https://github.com/scanmem/scanmem/issues/304#issuecomment-367419399 works, and works very well.
Testing on 500 MB of zeroed memory, using `snapshot;update`, I recommend using this combination in memory retrieval tests, as it performs absolutely no matching logic.

`searchregions` alone
[code]

current master
[code]

this patch, with `READ_CHUNK` at 512 (

[2018-02-22 06:57] sriemer commented on #133
Sounds good, thanks! This confirms that saving several syscalls saves us a lot of search time in situations of high match density. If `pread` returns less bytes, then we can check if the region end is reached. Otherwise these situations should not occur. We should break then as it looks like we don't have the permission to read in this region then. It should be possible to test this with odd chunk

[2018-02-28 07:57] sriemer opened #307 "Running out of memory causes segfault"
The initial scan segfaults for me at searching for `0` in 1500 * 1024 * 1024 bytes allocated by `calloc()` on my laptop. It runs out of memory. Catching `SIGSEGV` in `sighander()` is a bad idea as it prevents the kernel message showing where it crashed and preventing core dump creation.

[code]

The `array` pointer is `NULL` and causes a NULL pointer dereference. This should fail with a useful mes

[2018-02-28 08:03] sriemer commented on #307
Before dropping using `sighandler()` for SIGSEGV:
[code]

After dropping using `sighandler()` for SIGSEGV:
[code]

[2018-02-28 08:36] sriemer commented on #133
This is fixed. Thanks.

[2018-02-28 08:36] #133 closed

[2018-02-28 08:53] sriemer commented on #285
We've got this now:
* `/proc/$pid/mem` support for `sm_checkmatches()` by modified `sm_peekdata()`
* scanmem sub-command completion

[2018-02-28 12:05] 12345ieee commented on #307
Let's see, about the `SIGSEGV` handler, I guess it's to exit in a clean way for users.
We developers can just rerun `scanmem` with `-d` when we see a strange crash.

I understand `SIGSEGV` isn't supposed to happen at all, so I'm open to alternative solutions if you dislike that.

About the fail itself, this is a known problem, documented in the `TODO`.
The problem is that you'd want to check on nu

[2018-02-28 18:42] bkazemi commented on #307
Let's try it with the checks

[2018-02-28 23:09] 12345ieee commented on #307
So, I tried that, at the end there is the really simple patch.

A `snapshot` scan on 500 MB goes from 4.8s to 5.3s and that's `searchregions()`.
This naive implementation would affect `checkmatches()` as well, but one could use an unchecked version for it.
I'd very much prefer not committing this.

If we just want a "nicer crash message", we could assume that a segfault is caused by a memory alloc

[2018-02-28 23:55] bkazemi commented on #307
segfaults are memory access violation, so this in practice would be NULL deference, which can occur from other types of bugs.

[2018-02-28 23:57] 12345ieee commented on #307
Yeah, also writing past the end of allocated memory, I know that.

It was just a quick hack I thought to have both a nice message and no performance penalty, possibly at the cost of some reporting inaccuracies for the end user, who isn't going to care anyway.

[2018-03-03 06:57] sriemer commented on #307
Short info "You might have run out of memory." Would be nice here.

[2018-03-07 08:00] sriemer commented on #288
Only Gentoo is still at 0.16. Version 0.16 was also a good release on Linux. It is just slower and missing some new features. Gentoo without a fixed scanmem maintainer is not that important here. So closing.

[2018-03-07 08:00] #288 closed

[2018-03-10 02:11] flywingsky opened #309 "Android build failed"
When I run ./build_for_android.sh,it reports an error as blow:

libreadline could not be found, which is required to continue.
The libreadline-dev package may be required.

How can I fix?pls help

[2018-03-10 02:23] flywingsky commented on #309
fixed

[2018-03-10 04:34] #309 closed

[2018-04-05 21:28] 12345ieee opened #313 "Redefinition of the public API"
Continuing the discussion from #312 , I'm opening this to discuss about a new and coherent public API.

From the previous discussion with @SSStormy he outlined his need for:
* bypassing `execcomand`
* having an arbitrary number of `globals_t`, that can operate independently from each other

I agree wholeheartedly with both goals.

Major roadblocks for infinite `globals_t`:
* `ptrace.c` has static

[2018-04-05 23:01] SSStormy commented on #313
Here are my thoughts regarding the API.

## Rename globals_t
`globals_t` is a bit vague and might cause name collisions. Something along the lines of`sm_globals_t` would be a better fit here.

## Give each command a public API
I propose that we take `sm_execcommand()`operations and give them their own functions with sensible return values. For example: lregions (`sm_regions_list()`?) could return

[2018-04-07 00:00] 12345ieee commented on #313
This will be a pretty long message. I'll reply in-line to @SSStormy 's points.

Agreed.

You won't need all of them, let's make a preliminary list with the needed args (bold if GC uses the, strike if they make no sense on a front-end):

### Handlers

Changes globals:
**`reset()`** -> no output
**`option(opt, val)`** -> no output
**`pid(pid)`** -> no output

Changes match array:
**`list([max_to_pri

[2018-04-08 10:32] 12345ieee commented on #313
### Ptrace

I meant that they do not need to be enclosed by `attach`/`detach`. Of course, they call `attach`/`detach` internally, so if `ptrace` is locked, they fail.

### Commands

This depends on how usable and well documented the new API becomes. Let's say the we can consider removal after we've built the new one.

I've thought a bit about this and concluded that since the returned results need

[2018-04-08 16:34] SSStormy commented on #313
Logging to different streams/locations based on what level log you've received. That'd be tedious to do if only one FILE* output and log level is available.

[2018-04-08 17:53] 12345ieee commented on #313
I'm not 100% convinced (it looks overengineering to me, at least a bit), but not even opposed.
I guess we could roll `DEBUG` into it as well and stop handling it separately with a cmdline flag.

Now, let's get down to business, we need lists of:
* All the new API functions signatures, most of which I've given 4 posts over
* All the additional fields for `globals_t` (I'll keep referring them with t

[2018-04-16 04:29] bkazemi commented on #313
I definitely agree with condensing the scan operations, and readmaps. We should keep the new API as clean and small as possible.

I agree that hiding the commands API would make sense, given that no front-end (besides the CLI) is actually going to be using it. Let's _try_ to tie it to the CLI, if we can't, we'll just leave it.

I think it'd be simplest for the front-end dev if we continue to handl

[2018-04-16 19:24] 12345ieee commented on #313
We definitely need to plan it well, because we'll have to support it in the future.
That's why I wanted to make a through list before diving into coding.

Same page here.

I'm not sure how you plan to deallocate internally the result of an hypothetical
 `some_type *sm_matches_list(sm_globals *globals, uint start_idx, uint end_idx)`?

The `some_type *` is now outside libsm's control, so to give it

[2018-04-17 02:25] bkazemi commented on #313
That memory isn't outside the control of libsm though, we just need to keep track of it. We could use simple garbage collection, keeping a list of pointers to addresses that need to be `free()`'d inside our `global_t`.

[2018-04-17 11:02] 12345ieee commented on #313
Even if we keep track of the addresses, we still wouldn't know when it's time to GC them, unless the library user tells us (and we're back at square one, may as well free them explicitly).
For example we could collect memory after N calls to libsm after it was allocated, but I really dislike this, because it'll be both memory inefficient and risk free'ing a pointer the user was using.
I may be mis

[2018-04-17 22:50] 12345ieee commented on #313
FYI, I've started a branch for this: https://github.com/12345ieee/scanmem/tree/api
For now I've just started restructuring the globals, I'll stub all the signatures in the following days, so we have a concrete list to discuss.
Comments on the (very rough) only commit welcome.

[2018-04-18 21:08] 12345ieee commented on #313
So, let's say a method of our API is:
[code]

Let's say the client code wants to use a GC that has to hook to `malloc`&friends (like Boehm's), it can't autocollect the `blob` instance, because libsm allocated it with the standard `malloc`, it'll have to be free'd with the standard `free()`.

The client can't do nightmarish `LD_PRELOAD` tricks à la `ugtrain` to replace malloc/free, because he'd rep

[2018-04-20 02:59] bkazemi commented on #313
I see. That sounds like a good compromise. Let's try that.

[2018-04-22 23:05] Drui7 opened #315 "Pointers pls"
I want to be able to create a list of pointers to values. or pointers to pointers to values. or even more levels of nesting. so that you can once find the value and use it at each start.

[2018-04-23 19:33] 12345ieee commented on #315
This is a duplicate of #301 , which has an in-depth technical discussion.

scanmem/GC can't do it, you need something with the capabilities of a debugger.
So `gdb`, `ugtrain` and possibly `PINCE`.

[2018-04-23 19:33] #315 closed

[2018-05-11 15:20] sureshmahajan commented on #260
Hi,
I am facing memory leak issue with Coverity v2017.07. Coverity build and analysis finished but it add some space to OS cache and never frees up and as a result it piles up the garbage on OS cache. Does above issue is the reason for this leak? OR could be another issue? any suggestions/help would be appreciated?

[2018-05-14 08:13] sriemer commented on #260
This is about a memory leak in scanmem/libscanmem and not about leaks in the Coverity tool. Please report directly [to them](https://community.synopsys.com/s/topic/0TO340000000snQGAQ/static-analysis-tool-coverity).

[2018-05-20 16:43] Motherboard commented on #285
Any plans to implement compatibility with Cheat Engine's files?

[2018-05-21 18:52] 12345ieee commented on #285
While I agree that it'd be a useful feature, we currently don't have plans to support it.

[2018-05-24 11:52] Motherboard opened #316 "Memory locations change after game reload"
After locating the memory address belonging to a certain variable, and then reloading from a previous save (tried it with Witcher 2), the memory location no longer points to that variable.

Cheat Engine seems to be resistant to this kind of change, possibly by looking at the memory structure around that location, detecting a change in that region, and re-locating that structure again instead of us

[2018-05-24 11:58] 12345ieee commented on #316
This is a duplicate of #301 , which has an in-depth technical discussion.

scanmem/GC can't do this, you need something with the capabilities of a debugger.
So `gdb`, `ugtrain` and (sometime in the future) `PINCE`.

[2018-05-24 11:58] #316 closed

[2018-06-03 13:07] Enyby commented on #285
Most android firmware support it.
But it can be not accessible even from root on some selinux settings.
So good decision - try open and use, if this not work - fallback to ptrace.
Highly recommended use /mem for read process memory, because it lot faster rather from call ptrace in loop.

Also you can try use /proc/mem for read memory process with help of /proc/pid/pagemap. It is more hard, and not

[2018-06-03 13:47] 12345ieee commented on #285
@Enyby , improvements in the detection and use of features offered by the host system are very welcome, if they are done properly (at `configure` time).

It's not an issue to add a macro/change some functions signature to support a different set of read/write methods for some class of android devices, provided this class is widespread enough.

You can take a look at `configure.ac` to see exactly w

[2018-06-03 15:33] 12345ieee commented on #285
About the checks: I phrased myself badly, you can't directly have configure check the host system, but you can check yourself on the android target, then tell configure what to do.

As I wrote above, adding more "compile time profiles" is fine if it helps support some combination of features we don't yet support.
Runtime checks won't be implemented in the foreseeable future.

About the lack of `pr

[2018-06-13 16:53] sriemer opened #317 "Coverity Scan builds should scan Python code as well"
Coverity Scan has Python support as well now. So I've configured the project there not to ignore the code in `gui` any more and that Python is a secondary programming language.

I've built and uploaded manually:
[code]

It found two new defects - both in the GUI. The defects should be fixed and the Travis CI build should also be configured to check Python as well.

See: https://scan9.coverity.com/

[2018-06-13 17:28] sriemer commented on #317
I've edited the previous comment as I analyzed the wrong code. Now it is correct. Sorry.

[2018-06-13 18:59] 12345ieee commented on #317
Great idea.

Gave them a quick look, totally harmless stuff, but I'll fix them.

The language configuration should be server-side, so nothing needs to be changed in the travis config, I'll test this when I fix them by pushing to the `coverity_scan` branch.

[2018-06-14 07:44] sriemer opened #319 "Travis CI build fails"
There is a gcc-6 bug in the Ubuntu toolchain PPA:
https://stackoverflow.com/questions/50024731/ld-unrecognized-option-push-state-no-as-needed

[2018-06-16 09:14] 12345ieee commented on #319
So exactly our setup (recent gcc with UB sanitizer) is broken, what a joy.

I've seen you try some variations under the `travis` branch, did you have any success?

[2018-06-17 06:48] sriemer commented on #319
Nope, no success so far. A Bionic build worker should fix this but Bionic is not available. No idea how to change the linker with autotools.

[2018-06-29 10:49] sriemer commented on #317
This is not correct. Just tested by pushing to branch `coverity_scan`. It does not upload the Python source (`--fs-capture-search gui`) for analysis.

[2018-07-03 10:53] sriemer commented on #263
Not an issue on openSUSE Leap 15 by the way. ;)

[2018-07-16 09:38] krisives opened #320 "Can scanmem do a read-only search that won't be detected by the target process?"
Currently I scan a program that likely has code to detect modification of the program memory for anti-cheat purposes. I'm trying to reverse engineer the memory map / layout of the process and want to avoid making any changes. When I run `scanmem` and give it a known value to find it begins searching the memory map and eventually encounters an area of memory at which point the process detects unwan

[2018-07-16 20:52] 12345ieee commented on #320
There are a variety of ways this application could detect memory scanning.

Assuming you are on a target that supports `/proc/<pid>/mem`, `scanmem` works by sending the `PTRACE_ATTACH` signal to the process, waiting for it to work, then reading in memory regions from `/proc/<pid>/mem`.

At no point `scanmem` modifies the program's memory during a scan (you can easily modify it later, but that's no

[2018-07-17 06:24] #320 closed, assigned to nobody

[2018-07-17 07:29] sriemer commented on #320
It is also possible to detect `ptrace()` by calling `ptrace(PTRACE_TRACEME, ...)`. The anti-anti-ptrace is to use LD_PRELOAD and to override ptrace() to tell the tracee that there is nothing tracing it although it is completely compromised. :smiling_imp:

[2018-07-17 11:08] krisives commented on #320
@sriemer I looked at the Linux code for the procfs `/proc/pid/mem` and from what I can tell it doesn't send any signals if simply reading memory without using the ptrace API, is this correct? I know the target program I was scanning memory for didn't seem to trigger anti-debugging code when I simply read memory, which leads me to believe no signal was sent.

[2018-07-17 17:30] 12345ieee commented on #320
I had done some tests on this topic, and on my system (debian unstable) I can perform readonly scans if I replace the `PTRACE_ATTACH/DETACH` calls with matching `kill(SIGSTOP/CONT)`, but you can't modify memory that way, just read.

If you want `scanmem` to do that, the relevant functions are `sm_attach()` & `sm_detach()` in `ptrace.c`, replace `ptrace(things)` with `kill(things)`.

Using `PTRACE_

[2018-07-18 07:35] sriemer commented on #320
Yep, only `PTRACE_ATTACH` is detected by the tracee. I've provided the tricks how to bypass this if r/w is required. IMHO it doesn't make sense for us to support this case with a compile-time switch. At some point you'll end up requiring a working r/w method. A custom modification is the way to go for the read-only scan.

[2018-08-09 16:01] sriemer commented on #263
Ubuntu postponed Wayland by default to the next LTS. I handle this like GParted and set the Ubuntu scanmem bug to invalid. OpenSUSE shows that proper pkexec permission handling is possible. So let's close this now.

[2018-08-09 16:01] #263 closed

[2018-08-15 03:51] BluecoatEngineer opened #321 ""Lock Value" needs to give up after process is dead"
Reproduction steps:
1) Play Game.
2) Realize Game is a bastard and was never going to let you unlock all the MacGuffins no matter how hard you grind; use GameConqueror (spawned in a terminal) to reinforce that machines don't get to win ever.
3) Specifically, find where Game is keeping the MacGuffin counters, set them to a hojillion, and lock the value just to spite it.
4) Your impatience draws the

[2018-08-15 04:44] BluecoatEngineer opened #322 "Feature Request: Allow restricting searches to around an address on the cheat list."
Let's say I'm in an arbitrary game, searching for some character stat like health.  I find it, lock it, and go on to try to search for ammo, mana, etc.  What's the likelihood that the representation of game state doesn't look something like:

    struct {
        int hit_points;
        int ammo;
        int and_then;
        int and_Then;
        int and_THEN;
        ...
    } game_state;

If we

[2018-08-15 08:49] sriemer commented on #321
Please bare in mind that not every developer is a native speaker. The detection if a process is really gone can be pretty complex.

[ugtrain](https://github.com/ugtrain/ugtrain), which is a game trainer which runs the game, has that detection [here](https://github.com/ugtrain/ugtrain/blob/bebbf30032c3334e88eb9247c23577ad444bf0e5/src/ugtrain.cpp#L1205) with code from [here](https://github.com/ugtra

[2018-08-15 10:04] sriemer commented on #322
You could use the hex editor of GameConqueror or the `dump` command of scanmem.
Do you know that the locking/freezing of values in scanmem/GC only works once if it is not the unlikely case of all values in non-PIE executable?

For a real game trainer which bypasses ASLR/PIC/PIE and has dynamic memory support, look at [ugtrain](https://github.com/ugtrain/ugtrain). It dumps objects in dynamic memory

[2018-08-17 03:28] BluecoatEngineer commented on #321
Of English?  I should hope not; it's a sloppy language with far too many homophones, as you've just demonstrated. :-)  (Bare == naked, Bear == carry)  Irregardless, your title change is for sure more accurate.  "Dies Horribly" was meant to convey any sort of abnormal process termination (segfault in my case).  After filing the bug I realized that it happens even if the process exits gracefully!

W

[2018-08-17 03:34] BluecoatEngineer commented on #322
Huh, I didn't realize that GC had a memory editor!  I still think there's use for being able to tell it to search "around" the area, especially for progress bars and floats, but being able to explore around the address covers most of it.

ugtrain looks pretty cool, I'll check it out!

[2018-08-17 12:28] sriemer commented on #321
Thanks for your recommendations. Yes, for ugtrain I've implemented it in a lazy way as I had the shell commands at hand. For scanmem/GC I'll implement a better variant. Thanks for reporting.

[2018-08-17 13:35] sriemer commented on #322
Okay, thanks. Marked as GUI enhancement.

[2018-10-11 08:53] sriemer commented on #321
The function is optimized now and also implemented for the scanmem `set` handler but without checking the process name. I'm still working on the GameConqueror part.

[2018-10-17 12:54] Cloudef opened #325 "Possible to use scanmem without ptrace?"
My workflow is follows:
- Find the address of variables I'm interested in scanmem
- Attach gdb and add watchpoints for the addresses, so I know what writes/reads them
- Finally look up the related code in radare2 for analysis

However, now scanmem can't be used until gdb is detached. Not a huge inconvenience, but was wondering if it's possible to make scanmem optionally read /proc/<pid>/mem direct

[2018-10-17 20:53] 12345ieee commented on #325
The guy that opened that SO question asked us the same thing some time ago, in #198 , I believe there you can find some answers.
He is also the author of the related https://github.com/korcankaraokcu/PINCE , which might suit your use case better.

About `/proc/pid/mem`, that's exactly what scanmem uses, as it's order of magnitudes faster than looping `ptrace`, but to read that file for another pro

[2018-10-17 23:30] Cloudef commented on #325
Thanks, seems like it's not possible on linux. I know about PINCE, but sadly it's not really up-to-par of CE, or even just using gdb. I would use r2's debugging facilites, but they don't really seem to work well compared to standalone gdb, so I've been pretty much forced to rely on different tools, and it isn't actually that bad in the end as every tool does that one job pretty well in the end.

[2018-10-18 10:55] Cloudef commented on #325
I've looked at ugtrain and it's interesting. Unfortunately I'm working with a wine process, which it doesn't work with I guess. (I guess easiest would have windows version of ugtrain that you can run inside wine, or use CE for similar ability to find pointers). My end goal is to just modify and document the machine code itself though, so I don't really need pointer searching ability, though it cou

[2018-10-18 19:41] Cloudef commented on #325
https://www.youtube.com/watch?v=zw4fWzTWGx8 (that said, I wrote some tools to reload the modified code back to the program's memory runtime)

[2018-10-19 06:00] sriemer commented on #325
There is also a simple tool already using `process_vm_readv()` with https://github.com/skeeto/memdig. But it has to attach as well. I think the best solution to this would be a special crafted gdb extension which uses (a maybe modified) `libscanmem`.

Something like a `scanmem` or short `sm` command:
[code]

It is important that the process which attaches also conducts the search. Has to be resear

[2018-10-19 08:18] Cloudef commented on #325
That would be quite nice actually, it's not super important though. Detaching/attaching doesn't lose your work in gdb after all.

I wrote this bit more generic tool to read/write memory regions as well https://git.cloudef.pw/proc-region-rw.git/tree/proc-region-rw.c, but didn't try the vm syscalls yet. This tool isn't intended to replace scanmem or such, it's just a bit more dumber one for writing

[2018-10-19 09:33] 12345ieee commented on #325
GameConqueror, the scanmem GUI, has a realtime memory view.
The CLI doesn't.

Il 10:18 Ven 19/Ott/2018 Jari Vetoniemi <notifications@github.com> ha
scritto:

[2018-10-19 09:46] Cloudef commented on #325
Hmm are you sure. The memory view doesn't seem to refresh on its own.

[2018-10-19 09:50] 12345ieee commented on #325
Ah, yes, you have to hit refresh when you want.

Having it (optionally) autorefresh every second wouldn't be difficult, can be implemented if you're interested.

[2018-10-19 13:44] Cloudef commented on #325
Having used CE before, I thought it was useful feature, especially how CE has this fading effect for bytes that change in the memory. Really useful for finding interesting stuff near the variables you have found. (As well as seeing how areas of memory respond to actions you make in program)

[2018-10-25 07:33] sriemer commented on #321
The bug is fixed. So closing. Thanks.

[2018-10-25 07:33] #321 closed

[2018-12-11 07:47] 7763sea opened #326 "_87873.c:843:15: error: expected ‘)’ before ‘int’"
I was use  this  command ,   :export CPPFLAGS="-P"   ,passed

[2018-12-11 09:25] sriemer commented on #326
Can you please use proper GitHub markdown to describe your problem with commands in backticks?
Was your command sequence the following?:
[code]

Note that `scanmem` and `libscanmem` are C code. So use `export CFLAGS="-P"` instead.
I don't see any bug on our side here.

[2018-12-11 09:31] sriemer commented on #326
Is the file `_87873.c` your custom file or where is it located?
It definitely doesn't belong to scanmem.

[2018-12-12 07:34] 7763sea commented on #326
_87873.c  located in ncurses/ncurses/lib_gen.c ，when excute "export CPPFLAGS="-P""  disappear

[2018-12-12 08:29] 7763sea opened #327 "Android: configure: error: C compiler cannot create executables"
export NDK_STANDALONE_TOOLCHAIN="/usr/local/ndk/toolchains"

./build_for_android.sh

Defaulting to arm-linux-androideabi
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for arm-linux-androideabi-strip... no
checking for strip... strip
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... no
checking for maw

[2018-12-12 09:34] sriemer commented on #327
The path `/usr/local/ndk/toolchains` is wrong for the standalone toolchain. Please follow the instructions linked in README.md.

The command is something like this:
[code]

[2018-12-12 12:56] sriemer commented on #205
I'm seeing this bug in our traffic graph from time to time.
For the record: The fix commit is 2309663c788937c1b2fb04af47354b55fcf7d1b3.

[2018-12-19 16:47] sriemer commented on #327
Closing as invalid for now. Issue seems to be resolved. Feel free to reopen if that is not the case.

[2018-12-19 16:47] #327 closed

[2019-01-23 12:51] luziferius opened #328 "GameConqueror: cannot select a process"
Selecting processes through the GUI is broken. If I click the select button, GameConqueror throws a ValueError, but nothing else happens.
Selecting a process by specifying the PID via command line argument works.

Reproducible: always
Version: `0.17-2`, installed from https://packages.ubuntu.com/bionic/gameconqueror

Steps to reproduce:
- Open GameConqueror
- Click on the `SelectProcess_Button`

T

[2019-01-23 15:02] sriemer commented on #328
Thanks for the bug report. I'll try to reproduce and check what's the issue. The packaging has been done for Debian 9 and just taken over by Ubuntu. I have to admit that I don't use GameConqueror for game cheating in "production" but use scanmem instead.

[2019-01-23 15:18] luziferius commented on #328
I think I know why this happens.
I have the commercial [Teamviewer](https://www.teamviewer.com/) tool installed, which spawns some processes that don’t have a process name assigned. I can see that the `Command` column in `htop` is empty for some processes. If I execute `systemctl stop teamviewerd.service`, those disappear and GameConqueror starts working.

Thus, I conclude that `proc.split(None, 2

[2019-01-23 21:35] 12345ieee commented on #328
That's what you get for trying to parse a human readable output, well spotted.

@sriemer , I guess we fix it roughly as proposed by @luziferius , introducing a dependency on a real process utility library for python seems overkill.

[2019-01-24 12:00] luziferius commented on #328
I found a better solution, than to just fill the missing values with with empty data.
You can resolve the symlink `/proc/pid/exe`, to get the process name:
[code]

[2019-01-29 07:16] sriemer commented on #328
Test tool providing empty process name:
https://github.com/sriemer/spars-coding/tree/master/empty_proc

[2019-01-29 08:06] sriemer commented on #328
Thanks, the idea to follow the `/proc/$pid/exe` symlink is a good one. But my suggestion is to keep using `os.path` for consistency. We want to do a bug fix in the end.

What about the following patch? @12345ieee, any objections?

[code]

[2019-01-29 08:17] sriemer commented on #328
Maybe `exelink` is a better name than `executable` here. I'd like to switch to that name. Any objections?

[2019-01-29 12:01] luziferius commented on #328
My only objection is: Don't use bare `except:`. Only catch the known ValueError.

And maybe add a comment line that explains why this is needed at all. The root cause is not immediately obvious here.

[2019-01-29 19:49] 12345ieee commented on #328
Yeah, the bulk of the fix is fine but I also agree with both of @luziferius 's points.

[2019-02-01 15:14] sriemer commented on #328
I'm way better with GNU C and the `scanmem` command line tool has way less bugs. :stuck_out_tongue:
Should be correct now. @12345ieee Please merge the PR. TIA

[2019-02-04 07:37] sriemer commented on #328
TODO: Add the patch to the Debian package on salsa and involve @kartikm for queuing the fix or releasing a possible update. Also add the fix to my OBS home for openSUSE. Push `v0.17` fixes used in distro packages to `0.17.y` branch.

[2019-02-15 18:03] Mhowser opened #330 "[Question] how do I mount /proc"
It is listed as a requirement but since I'm a Linux noob I dont exactly know how to mount `/proc` correctly.

Thanks in advance!

[2019-02-15 21:03] 12345ieee commented on #330
Assuming you're using a reasonable Desktop distro it's already mounted.

Run `ls /proc`, if you see something, it's mounted.

[2019-02-15 21:34] sriemer commented on #330
Does this answer your question so that we can close this?
[code]
otherwise.

[2019-02-16 00:12] Mhowser commented on #330
You can close this thread now. The program I'm targeting isn't compatible
with gameconquerer.

On Fri, Feb 15, 2019, 1:34 PM Sebastian Parschauer <notifications@github.com
wrote:

[2019-02-17 11:27] #330 closed

[2019-05-14 17:20] Pensantos opened #331 "Closes when looking for "0" as Int32 values on big applications"
Hangs for a few seconds then just closes. Application does not crash, just Game Conqueror.
Tested on Ubuntu 19.04 and 18.04, Lubuntu 19.04 and 18,10, Ubuntu mate 19.04.

[2019-05-14 17:30] Pensantos opened #332 "GC's Hex view should change colors when value changes"
The thing is you need to click on refresh every time to check if some value changed on the Hex view, then the window suddenly moves (by it self, up and down - bug?) and you have no clue if a value changed on the screen or not.
Hex view should have its values backgrounds colors changed every time a value changes so you could recognize it better whenever you move in game or pressed a button in a app

[2019-05-14 17:32] 12345ieee commented on #331
Uhm, can you open it in a terminal and paste here the output?

[2019-05-14 18:29] Pensantos commented on #331
[code]

[2019-05-14 18:32] 12345ieee commented on #331
I'm pretty sure this is an "out of memory" error.
scanmem uses roughly 4 bytes per match, most of the memory of any application is zeroes, you've probably finished your memory.

This is then a duplicate of #307 .

[2019-05-22 22:50] MichaelElianKevin opened #333 "Error while compiling for android"
I have tried to run sh build_for_android.sh but i got this error at the end.
/usr/bin/ld: ./.libs/libutil.a: error adding symbols: archive has no index; run ranlib to add one
collect2: error: ld returned 1 exit status
make[2]: *** [scanmem] Error 1
make[2]: Leaving directory `/home/clown/scanmem'
make[1]: *** [all-recursive] Error 1
make[1]: Leaving directory `/home/clown/scanmem'
make: *** [all]

[2019-05-22 22:55] MichaelElianKevin commented on #333
I have solved the problem by run ranlib. thanks

[2019-05-22 22:55] #333 closed

[2019-05-22 23:38] MichaelElianKevin commented on #309
how to fix that??
i have installed libreadline-dev but the error stils appears

[2019-05-22 23:46] MichaelElianKevin opened #334 "Android build failed libreadline-dev not found"
I have tried to install using ./build_for_android but i got this error at the end.

i have installed libreadline-dev
how to fix that?

[2019-05-23 00:51] MichaelElianKevin commented on #334
fixed, thanks

[2019-05-23 00:51] #334 closed

[2019-05-23 00:57] MichaelElianKevin opened #335 "Killed by signal 11"
When i did search i got killled by signal 11.
hot to fix that?

[2019-05-23 06:33] sriemer commented on #335
Duplicate of #307. Out of memory. Try to look for a value which is less common than e.g. 0 or free up more RAM.

[2019-05-23 06:33] #335 closed

[2019-05-23 06:43] sriemer commented on #334
Yep, the `libreadline-dev` package on the host system is not the right one. So the script downloads required package source and builds from there.

Was this just a usage issue or is this something to be changed here at upstream?

[2019-05-23 06:48] sriemer commented on #333
Please report required code changes in form of commits/patches/diffs. Reopening. I'll look into this in a couple of weeks.

[2019-05-23 06:51] MichaelElianKevin commented on #335
how to fix that, i have much free space RAM.

On Thu, May 23, 2019, 13:33 Sebastian Parschauer <notifications@github.com>
wrote:

[2019-05-23 11:35] MichaelElianKevin commented on #331
How to fix "out of memory"? I didn't search " 0", i searched "127" and than got "Killed by signal 11"

[2019-05-23 11:54] MichaelElianKevin opened #336 "Search only dword value"
I usually use game guardian to cheat games. In game guardian, I search only dword value. How can I search only dword value in scanmem?

[2019-05-23 11:57] 12345ieee commented on #336
A `DWORD` is a 32bit value, so you need to use `int32` for the usual use case.

[2019-05-23 11:57] #336 closed

[2019-05-23 12:07] MichaelElianKevin commented on #336
how to use int32?

[2019-05-23 12:10] MichaelElianKevin opened #337 "Search only int32 value"
How can I search only int32 value? What command should I execute?

[2019-05-23 13:02] sriemer commented on #337
RTFM, `man scanmem`.
The command is:
[code]

[2019-05-23 13:02] #337 closed

[2019-05-23 13:03] MichaelElianKevin commented on #337
thank you

[2019-05-23 13:04] MichaelElianKevin opened #338 "How to fix killed by signal 11 please"
Help me please, how to fix killed by signal 11? I not yet find the solution.

[2019-05-23 13:15] sriemer commented on #338
Please provide full reproduction steps and console output, CPU arch, device type, OS version, etc. You need around 4 bytes for a match. So for a 1 GB application, 4 GB are required additionally by scanmem if everything matches. Use the `lregions` and `dregion` command to exclude too big memory areas.

[2019-05-23 13:23] MichaelElianKevin commented on #338
My android is lolipop 5.1, 2 GB RAM, the game that I play is light, i ran
scanmem via adb. help me please

On Thu, May 23, 2019, 20:16 Sebastian Parschauer <notifications@github.com>
wrote:

[2019-05-23 13:39] MichaelElianKevin opened #339 "Scanmem alternative"
Is there any tools for cheat android game via terminal emulator or adb? i have tried scanmem and got killed by signal 11.

[2019-05-23 19:47] 12345ieee commented on #339
Please stop spamming these issues, or we'll be forced to ban you.

You've already opened an issue to solve the signal 11 problem, give the info that was asked there if you want help.

[2019-05-23 19:47] #339 closed

[2019-07-05 14:36] asdf23 opened #340 "Feature Request named or saved snapshots"
I'd like to take a snapshot associate it with a name (or file) then refine the list, then do a comparison to the snapshot.

So...

Run command: snapshot "Full_Life"

Run command: <

Run command: =snapshot "Full_Life"

If the snapshot contains memory regions that the current list does not, then ignore.

Also if I could get the snapshot exported to a file I think I could use a diff tool to help unde

[2019-07-05 14:37] asdf23 opened #341 "Feature Request: undo"
Sometimes I'll run a filter and realize that it was incorrect..
35> =
0>

Whoops.. I didn't mean = I meant !=

[2019-07-05 14:42] asdf23 opened #342 "Feature Request: Save list"
Sometimes I'll file a memory region such as a number of lives.
Great now I want to run:
1> set 0=1/5

Okay.. now I want to find how to alter the gun type. Problem is I need the memory region in my list and reset every 5 seconds.

Ideally I'd like to be able to save the list. Then jump to a new list. So while my lives are being reset.. Or pehaps while I'm searching for live. I can switch directions

[2019-07-07 17:24] 12345ieee commented on #341
This and #340 suffer of the same technical problem:
keeping the current match list and N old ones in memory takes (N+1) times the memory, which is a lot in dense scans, as SM uses roughly 4 bytes per matched byte.

I can think about some clever schemes to pack some undo data in the structure, (using some flags bit for an undo count and masking them for every other use), but that means you have to

[2019-07-07 17:25] 12345ieee commented on #340
See https://github.com/scanmem/scanmem/issues/341#issuecomment-509016835

[2019-07-07 19:20] asdf23 commented on #341
I think just save to disk no?
On an unrelated subject.. I think heap memory never send to be the right answer.. Not sure how that comes into play here or not. It seems to me that messing with heap = crash

[2019-07-08 02:24] asdf23 commented on #341
... I mean I could do this....
List and perhaps dump to terminal > copy to file > format to json > to javascript > external call to scanmemlib? > repeat to refine list
Whereas the javascript program would store and I guess clear the memory...

Along that line.. If I could.store history and convert that to svg.. Hard to explain.. But hex values under semi-transparent ovals streching over blocks of

[2019-07-09 14:59] sriemer commented on #340
Sorry, but this is stupid due to **dynamic memory** on the heap which is the concept behind **object-oriented programming**. You might want to look into [ugtrain](https://github.com/ugtrain/ugtrain) and its memory object dumping feature. There I use `vbindiff` to find further interesting values within the same memory class.

Megaman dies means `delete megaman;`, `free(megaman);`, or in other words

[2019-07-09 15:03] sriemer commented on #340
Feature request rejected. Sorry. Dump only relevant memory.

[2019-07-09 15:03] #340 closed

[2019-07-09 15:33] sriemer commented on #342
You are actually looking for a real game trainer. You can run multiple `scanmem` instances fighting for the same game process to attach via `ptrace()`. So if you're fine with seeing lots of errors, then go this way. Otherwise, put the stuff you've found into a game trainer config. `GameConqueror` only supports static memory within a non-PIE executable. So very likely `GameConqueror` cannot handle

[2019-07-09 15:42] sriemer commented on #342
`scanmem` is a memory scanner and not a game trainer. So closing as invalid.

[2019-07-09 15:42] #342 closed

[2019-07-09 15:49] sriemer commented on #341
The undo can do more harm than benefit. It is unknown if the game process is still in the same state. In terms of memory consumption this does not make any sense. Unless you find enough supporters for this, this is invalid.

[2019-07-09 15:49] #341 closed

[2019-07-11 00:26] asdf23 commented on #342
Thank you, I did not think of that. At the core my c-fu is very lacking. This tool is amazing, and gets very close to the other crazy use-cases that I can imagine.I am got yet aware of game trainers. I'll have to look into it.

I never used this, but what I was able to do was to take the results from scanmem deserialize to some json/object array, then convert that into other commands. I'll post it

[2019-07-18 06:59] ssv-170379 opened #343 "Feature request: repeated search for unknown value"
Case: Lifebar is full. Search for unknown value. Take some damage. Search for decreased values. Use heal to fully restore health. Search for exactly(!) the first values, not just 'increased' ones. IMO it may greatly reduce steps needed to pin-down required address.

Implementation maybe like: When i planning to later search for exactly this unknown value, add some sort of tag to request, maybe num

[2019-07-18 07:18] ssv-170379 opened #344 "Feature requesd: Offset to all addresses"
Case: I made a table for several addresses (e.g. a bunch of usable items in inventory), saved it, but next time game is loaded to a different memory block and all values are moved to different addresses (but with their relative spacing preserved). I need ability to remap saved table to a new range by searching one of the values in new game session and apply difference between old and new address t

[2019-07-19 03:50] asdf23 commented on #344
here is how I do it:
First of all I turn off memory randomization. Next I load the game state, I have a couple is saved games at different points, next I know the values I'm looking for. I can pipe commands to scanmen. I'm working on an ability to pipe the result back out. With the output I can convert a list or memory dump to a json object. Then convert that object to one of several scanmen comma

[2019-08-05 15:39] sriemer commented on #344
ASLR/PIC/PIE + stack value + dynamic memory support are unique features of the universal game trainer [ugtrain](https://github.com/ugtrain/ugtrain) on Linux. Check its documentation and code. Scanmem is no game trainer. GameConqueror tries to be one but is lacking essential methods for things which are not static memory within the executable.

Feel free to contribute PIE support for GameConqueror

[2019-08-05 15:39] #344 closed

[2019-08-05 15:50] sriemer commented on #343
Feel free to implement this for yourself. This indeed takes too much memory for too little benefit. Memory search is not the only method to find interesting values in memory. E.g. with dynamic memory it is often enough to find one value within the same hero object and then dumping and comparing two states of the same object to find further values.

This is not feasible. So closing. Sorry.

[2019-08-05 15:50] #343 closed

[2019-08-06 16:49] Raslin777 opened #345 "Android Build"
Does not build any arm binary only x86-x64
export HOST=aarch64-linux-android
export HOST=arm-linux-androideabi

is it because it doesn't find:
_checking for arm-linux-androideabi-gcc... no_

https://pastebin.com/Y55VLPSV

[2019-08-07 07:20] sriemer commented on #345
It is not meant to work with the NDK directly. It is meant to work with a stand-alone toolchain as described in the README. The link is working. So please build your stand-alone toolchain from the NDK first: https://developer.android.com/ndk/guides/standalone_toolchain.html

[2019-08-07 07:21] sriemer commented on #345
Also run `./build_for_android.sh help` first.

[2019-08-07 13:08] Raslin777 commented on #345
Works perfect! ,Sorry and Thank you

[2019-08-07 13:08] #345 closed

[2019-08-07 13:31] Raslin777 commented on #338
I think what he is referencing is this:
option region_scan_level 3
124314324234
56/129 searching 0xc2d8d000 - 0xc2e89000..........ok
57/129 searching 0xc2e8a000 - 0xc2f86000..........ok
58/129 searching 0xc2f87000 - 0xc3083000..........ok
59/129 searching 0xc3084000 - 0xc3180000..........ok
60/129 searching 0xc3285000 - 0xc3380000..........ok
61/129 searching 0xc84e7000 - 0xc85ea000error:
Killed b

[2019-08-07 16:23] sriemer commented on #338
I know that Android is using a lot of Java code where the JRE `mmap()`s memory regions and just places the dynamic memory objects there. But usually unnamed regions are used. So you don't actually need region_scan_level 3.

[2019-08-08 07:02] sriemer commented on #338
There are the `lregions` and `dregion` commands. Exclude regions you may not access or which are too big. Provide `cat /proc/$pid/maps` output for the regions with issues. Then we can check how to possibly improve `scanmem`.

[2019-08-08 18:19] Raslin777 commented on #338
It diffidently has issues with some areas of the android code; I get a error in
65/1722 searching 0x9a01c000 - 0x9afee000error:

[65] 9a01c000, 16588800 bytes,  misc, 9a01c000, rw-, anon_inode:dmabuf
[66] 9afee000, 16588800 bytes,  misc, 9afee000, rw-, anon_inode:dmabuf

If i filter out all anon_inode:dmabuf areas I do not get signal 11.

I have a few more questions for my use case.
1) Can you spe

[2019-08-09 06:47] sriemer commented on #338
And here are the answers:
1) Not possible like you imagine right now.

The order of regions could change (dynamic mmap() munmap()) and without reading `/proc/$pid/maps` first, you have no idea which region to look at or if user input was correct. Let's assume you are interested in the stack region at the end. This time it could be at region 42, next time it could be at region 60 as more stuff has

[2019-08-20 13:00] Zedespook opened #347 "Lua implementation and key-binds"
Like in Cheat Engine, it would be really good to see a scripting language to edit game values. Also, setting keybindings to get certain values would be nice. What I mean, like in Cheat Engine, you can set a key-bind to scan a value which got lower/higher from the last scan.

[2019-08-22 08:39] 12345ieee commented on #347
While it would be nice to add some more complex features from Cheat Engine or similar, I think, and I imagine @sriemer agrees, that we don't have the dev time to do so.

[2019-08-22 13:17] sriemer commented on #347
Yep, I agree. Closing. Thanks.

[2019-08-22 13:17] #347 closed

[2019-09-21 14:15] Gonza21Gd opened #349 "GameConqueror won't launch with Arch package on Manjaro"
I'm using Manjaro (Linux 5.2) and the app won't launch. I've installed GameConqueror via AUR (https://www.archlinux.org/packages/community/x86_64/gameconqueror/). Gives this output when trying to launch:

/usr/share/gameconqueror/GameConqueror.py:1204: PyGIDeprecationWarning: Since version 3.11, calling threads_init is no longer needed. See: https://wiki.gnome.org/PyGObject/Threading
  GObject.thr

[2019-09-22 15:52] sriemer commented on #349
Sounds like an old `libscanmem` has been picked up. The function `sm_process_is_dead()` has been introduced **10/2018**. Version `0.17.1035.0cc3830-1` didn't have this.

Make sure that all three packages `libscanmem`, `scanmem`, and `gameconqueror` are at the same version. I guess the latest version is `0.17-2`. @anthraxx can likely help here.

I don't see an upstream issue here but a packaging/pa

[2019-09-22 16:41] anthraxx commented on #349
the AUR supports Arch Linux, Manjaro is not Arch Linux. Its like intalling debian packages in Ubuntu, it may or may not work for various reasons.
Also the posted link above is not the AUR but the official Arch repositories, which I also can't give any advice for behavior in Manjaro.
For me the latest git version of gameconqueror works perfectly, guess libscanmem was not installed when installing f

[2019-09-22 20:36] sriemer commented on #349
@anthraxx Thanks for your help. Already thought about that. I‘d like to get the empty process name fix and the subcommand completion out the door. Let‘s add the forward stack offset support as well and release 0.18. We both upstream maintainers didn‘t really find the time to implement bigger features for 0.18. Being a maintainer shouldn’t mean that we have to implement all features ourselves.

[2019-09-22 20:39] 12345ieee commented on #349
Yeah, I'm not opposed to cutting a v0.18 soon.

Give me some days to review your pending PR and check if there is some small thing I want to get in.

[2019-09-23 09:44] sriemer opened #350 "travis-ci: Trusty is out of support - should build in Bionic VM"
It is just about setting a small `dist: bionic`. Travis-ci finally made it to provide a proper Bionic VM image. But I'd like to keep building in a Docker container for flexibility.

Ugtrain already did the transition and everything works as expected with regular branches and also with the `coverity_scan` branch.

[2019-09-23 09:53] sriemer opened #351 "Coverity Scan reports new defects (printf format issues)"
It is basically rather minor: Using `%u` for `unsigned long`. Should be `%lu` then. Coverity Scan just has some new checks. It is not the case that we introduced new bugs.

[2019-09-23 12:09] 12345ieee commented on #351
This was changed in 5a9ba43777bc , much much before the first Coverity Scan.

Let's just do the trivial fix across all the points.

[2019-09-25 14:35] Gonza21Gd commented on #349
Thanks for the help, problem solved :)

[2019-09-25 14:35] #349 closed

[2019-10-05 19:47] x3c opened #352 "Can GC/scanmem do that? (track changes to code)"
I have a Windows game, which runs fine in under Linux + wine. I can access it with GC while it runs and freely modify strings in there. It works.

The game at some points loads a DLL which does some very minor code modification in the memory of the main process, probably punctually, at load time. Most likely, adds some RETs or NOPs here and there. I can not really tinker with that DLL. I'd like ho

[2019-10-05 21:44] korcankaraokcu commented on #352
You might need a debugger for this. However, debugging an emulator might be tricky, wine probably has its own tools for debugging purposes. Without a debugger, you can take snapshots of the emulator memory and compare the sections after the dll is loaded. This requires you to know the exact moment when the dll is loaded tho, so might not be possible.

How about debugging it within a virtual machin

[2019-10-07 08:24] sriemer commented on #352
What you request is out of scope for scanmem/GameConqueror.

The library accesses memory directly. So there is no easy way to track what it is doing. With a debugger you can't set watchpoints to all code memory addresses. With API hooking it would be possible to get the code regions at executable load and also at (or rather short time after) library load. You could also prevent the lib from loadin

[2019-10-08 06:32] #351 closed

[2019-10-08 06:45] sriemer commented on #352
@x3c Is the question answered so that this can be closed? TIA

[2019-10-08 07:37] #350 closed

[2019-10-08 07:45] sriemer commented on #350
Added the bug tag as Travis-CI dropped the Trusty VM image meanwhile.

[2019-10-08 09:10] x3c commented on #352
Absolutely. Thanks guys.

[2019-10-08 09:10] #352 closed

[2019-10-13 10:16] DHLF opened #355 "GC Question: How to use labels like gamename.exe+0efb"
I am aware that games (except very old dos games) moves around in the computers memory every time you start a game.
Therefore already found valid adresses would be of no use the next time.
Sadly GC does only allow me to change the description, type(int/float/string) and value of an entry in the cheatlist-window EXCEPT of the adress field.

To avoid typing in plenty(already) found adresses over and

[2019-10-13 10:23] DHLF commented on #332
At least there **should** be another button added which compares the previous hex window content with actual values and THEN show differences in red or whatever.
It would be enough if just the actual displayed content is stored(viewable area) instead of the whole page of .. memory page.
Less work for whoever does the programming and a great improvement for us.. cheaters :D

[2019-10-13 10:31] DHLF commented on #307
Do I get this right? Due to speed improvement you store the found values in RAM?
So all we have to do is.. expanding memory?
Double the memory from 16 to 32GB should NOT increase the search time as SM/GC is attached to ONE single process. Sounds great!

[2019-10-14 09:30] sriemer commented on #355
Indeed, PIE (position-independent executable) support is not implemented. If GC would have PIE support, somebody would ask for PIC (position-independent code, static memory in libraries) support and then for pointer following. Then you'll notice that pointer following on Linux is not very practical as it is too hard to adapt to version, compiler, or distro updates and does not work well if you hav

[2019-10-15 05:56] asdf23 commented on #355
Here is what I do..
Turn off memory randomization
Save the state of the rom disk image
Change game state
Save the state of the rom disk image
Use scanmem to find memory location
Use script to accept memory location to return a set of scanmem commands..
Appended to with & #! important
Remap joystick button to script execution command

On Mon, Oct 14, 2019, 5:30 AM Sebastian Parschauer <notification

[2019-10-15 16:09] 12345ieee opened #356 "Wiki page at https://github.com/scanmem/scanmem/wiki"
I've seen that @DHLF has started writing a usage guide about GC in the GH wiki at the address above.

I had left the wiki access open on purpose, I thanks him for taking the initiative, there are basically no "tutorial-like" resources on GC/scanmem, it sure wouldn't hurt.

I open this issue to contain questions, discussion or plans about the said wiki.

[2019-10-16 07:58] sriemer commented on #356
Not really true. It started with
https://www.youtube.com/watch?v=V9w_dg4kTgM
in 2008 showing scanmem 0.07 against a Flash game.
2013 scanmem 0.13 vs zeldaclassic: https://www.youtube.com/watch?v=4DOP06MyIHw
2015 scanmem 0.13 vs SuperTux: https://www.youtube.com/watch?v=FNu1_ErWzNc
2017: GameConqueror 0.17~pre vs SuperTux2: https://www.youtube.com/watch?v=xBGCjtdfaq0

Those are just some of the vid

[2019-10-16 15:47] 12345ieee commented on #331
Closed as duplicate of #307 .

[2019-10-16 15:47] #331 closed

[2019-10-20 19:18] 12345ieee commented on #317
I've done the necessary changes to the `.travis.yml` file, fixed the trivial issues and resubmitted a scan.

You can see the final commit at the tip of `coverity_scan` : 461b583 .

I'll merge that into master in a few days if you see no problems.

[2019-10-25 06:25] DHLF commented on #356
When I tried the wiki-link above it shows the empty "welcome" page therefore I thought there were no other tutorials.<br>
I merely overlooked all those youtube video tutorials, shame to me ;) I was wrong!

[2019-10-25 07:00] DHLF opened #357 "Enhancements: Memory editor"
When using the hex memory viewer/editor I noticed the fixed size of the window.
This is somehow slightly annoying.
At least double height would help a lot if it has to be fixed.<br>
Also the size of the editable memory seems sometimes not large enough(scrolling back/forward seems to be limited to a fixed size).
This happens even if the memory contains continueing dat.<br>
It may be that due to the

[2019-10-27 16:33] DHLF opened #358 "GC Bug: Freeze after scan for string"
Linux Mint 19.3/ GC 0.17

I wanted to rename some equipment in Fallout4.
Ran a search for **Champion,**(including comma to get less wrong results), but GC freezed after search ended.
Also a new icon showed up in those bar(left of notification/time/etc) about "Remove superuser clearance?". Bad translation, sorry so: It sounded like hitting those button would remove all previous sudos allowances(lik

[2019-10-27 16:45] sriemer commented on #358
String search has been reworked since 0.17. Please try again with latest Git master commit 64aba07b4022c69fd81c1b833628d36723fb2185. If latest code is not affected, then it is up to the distro picking up the proper fixes from upstream.
Please try to reproduce against FOSS games as well so that we have a chance to reproduce and debug ourselves. TIA

[2019-10-27 19:43] DHLF commented on #358
TLTR:
Confirmed this error still exists using 0.18~dev:
 we currently have 7 matches.
Traceback (most recent call last):
  File "/usr/share/gameconqueror/GameConqueror.py", line 1144, in data_worker
    new_value = self.read_value(addr, TYPENAMES_S2G[scanmem_type.split(' ', 1)[0]], cur_value)
KeyError: ''

This happens also in firefox, .. if a string search got as last sign a comma.

The search al

[2019-10-27 20:24] 12345ieee commented on #358
Thanks for reporting this freeze.

This is a result of an error in parsing the `list` output of libscanmem when a string as commas in it.

I'll fix it shortly.

[2019-10-27 21:15] 12345ieee commented on #358
Pushed the fix to master, @DHLF please test at your convenience.

[2019-10-27 21:16] 12345ieee commented on #317
I've merged the changes into master after further testing, closing.

[2019-10-27 21:16] #317 closed

[2019-10-28 19:05] DHLF commented on #358
### TLTR:
The previous version I tried (first time use of a 0.18~dev) was much faster while comparing numbers. Great!

I am sorry,but this seems to be a broken version now (21ec767).
Neither scans for numbers nor string search works anymore.

I will roll back to the 64aba07 and try if its another error on my side or..

### Sample output for int32 search:
info: we currently have 2095 matches.
Excep

[2019-10-28 19:20] 12345ieee commented on #358
Github decided to close this automatically, because I've just pushed the fix.
I'll reopen it, hopefully this one will work.

[2019-10-28 19:29] DHLF commented on #358
69a63a8 just tested.
String search now don't freeze GC if a string ends with a comma.
What an invisible single space can do ;)

[2019-10-28 20:02] 12345ieee commented on #358
String and bytearray searches against old values used to be obscenely slow, now they're nearly as fast as numbers. The magic was done mostly in #267 .

Closing this, thanks for the test.

[2019-10-28 20:02] #358 closed

[2019-10-28 21:05] DHLF commented on #357
After a brief look over the hexview.py file I have to admit that python is NOT my cup of coffee.
Few parts looks familar but most of the code seems "alien" to me.

So I *would*(if i ever would be able to..) try first to change the background colour to mark the first four bytes in normal, the second four bytes in grey and so on.
Just to make reading all those values easier.

Second I would like to

[2019-10-29 14:33] mendelmunkis commented on #322
On the subject it may be good idea to have a user selectable search scope

[2019-10-30 10:13] sriemer commented on #322
This is selectable by `scanmem` command `dregion` on region level. E.g. `dregion !0,1` is often used to limit search results for pointers to the executable .data and .bss regions. Professionals don't need a GUI. The GUI can't cover all CLI features.

[2019-10-30 13:06] mendelmunkis commented on #322
I'm sorry I wasn't clear. I was referring to the ability to select an arbitrary address range to search. I also didn't mean to imply that it should necessarily be a GUI feature, I just thought that this discussion on limiting search scope was a good place to bring it up.

[2019-11-09 21:04] DHLF commented on #355
Maybe.. this could also be automated by scripting in a different way:

Lets try "Might&Magic VI",
using steams proton wrapper it runs exactly like the original. But you have to kill the **timeout** process manually. REALLY!
Otherwise the game will stop if you are not paying attention to it or if you tab out too long.
Gogs version is.. running way too fast and will make the desktop environment unus

[2019-11-10 14:00] DHLF opened #359 "GC bug: changing type from int8 to uint8 stops accepting new values"
I added an address(type int8) in the lower window manually.
The game addressed those value as unsinged so I changed the type to uint8 in the address list.
The shown value changed(as expected) from -128 to the correct value 128.
From this point on I am free to type any value and hit the enter key but..
the new value is NOT written into the memory.
Instead the shown contempt switches back to the pre

[2019-11-12 08:04] sriemer commented on #355
@DHLF It is intended behavior being only attached while scanning or updating values. This way further `ptrace()`-based tools can be used and the game is only frozen for short time.

Your values are located in a `misc` region. This means there is an `mmap()` to allocate new regions and memory management is done by an engine. It is not guaranteed that match offsets will remain the same. Engine-speci

[2019-11-12 17:32] DHLF commented on #355
So with the correct process number(f.e.;6419) found:
[code]
Scanmem shows any appearance of "Gandalf the grey" in memory as desired:

[ 1]      1079fb6, 17 +         9fb6,  misc, Gandalf the grey, [string]
[ 2]      15a30b2, 19 +       3230b2,  misc, Gandalf the grey, [string]
[ 3]      1875dc6, 19 +       5f5dc6,  misc, Gandalf the grey, [string]
[ 4]      1875e2f, 19 +       5f5e2f,  misc, Ganda

[2019-11-12 21:47] sriemer commented on #355
Okay now you are hitting a real bug in the pager stuff @bkazemi has built.

[2019-11-13 15:56] DHLF commented on #355
I am sorry for this incident.
This may happened due to my misunderstanding of the proper use of scanmem concerning the use of the backend funtions.

[2019-11-13 17:43] 12345ieee commented on #355
Nah, it's the fact that the `-c` switch isn't well tested.
Scanmem was meant to be run in interactive mode, we use `-c` mainly for testing.

Hopefully I can take a look, with low priority

[2019-11-13 23:01] 12345ieee commented on #359
The issue here is that GC issues a `write value unit8 addr`, but libsm only recognizes signed types in the write handler.

I'll add that to libsm, because I don't want GC to convert back the type and value to unsigned.

This behaviour is indeed broken for all the unsigned integers (and only them).

[2019-11-17 06:35] AlexApps99 opened #360 "Enhancement: Search for unknown values in GameConqueror"
Currently when searching for a number there is only a box with asking for a value.
I propose that a dropdown next to the value input should be added that selects an operator eg <, <=, =, !=, >=, >, and 3 buttons to say whether the number has increased, remained the same or decreased.

This is because the exact number of a memory location is not always known, so comparison operators would allow for

[2019-11-17 12:35] 12345ieee commented on #360
This is a list of the allowed operators:
[code]

not all of them take one number as argument, some take 0, some 1 and some 2, so
supporting all the changing input boxes in the GUI is not in the plans.

[2019-11-17 13:07] DHLF commented on #360
It sounds like an easy addition but it may be necessary for people with disabilities like one armed(no offense intended!).
Using the keyboard also seems to me the fastest way to get all the searches done.
I would always prefer using the keyboard over moving a mouse pointer instead to select tiny buttons (or drop down menu like +/- = or != )

But this depends on different people with different liki

[2019-11-17 13:36] DHLF opened #361 "GC saving address list does not work any more(GC 0.18~dev)"
"Found" addresses which has been saved by gc0.17 loads fine using gc0.18dev.
But saving found addresses did not work correctly in gc0.18dev.

Working list created with gc0.17:
[code]

Not working list created with gc0.18dev:
[code]
In any entry in the table `"=",` is missing so gc cant read the saved table any more.

[2019-11-17 13:37] 12345ieee commented on #361
Oh dammit, I broke this in 461b583c5e389d198 .

[2019-11-17 13:50] DHLF commented on #361
No problem -at least for me- as i am using automated scripts to build those tables from scratch to put in the proper values.
To circumvent those bug we could just add those missing `"=", ` manually each time.. but most of the users will miss this feature(the working version).

[2019-11-17 17:09] DHLF commented on #355
No problem, as the error message did not keep the program from working.
Spamming the screen doesnt matter at all as long as it works :smile:

[2019-11-17 19:35] AlexApps99 commented on #360
Alright, will close this as it's difficult to implement and could clutter the GUI.

Thanks for all of the work on this amazing tool so far :)

[2019-11-17 19:35] #360 closed

[2019-11-28 03:11] caseyomah opened #364 "Game Conqueror depends on python-gi"
In Ubuntu 19.10 running `gameconqueror` from command line after following GUI install instructions yields:
[code]

Installing package python-gi resolves this issue. Suggest adding to dependency list.

[2019-12-02 14:25] sriemer opened #365 "Traffic Graph Review - Opinion about sensepost.com article?"
There is a new article quite high in our traffic graph:
https://sensepost.com/blog/2019/hacking-doom-for-fun-health-and-ammo/

It mostly shows Windows methods and the usual Windows way "I have to change the game code". They hack the `chocolate-doom` engine while I hack the `prboom-plus` engine with `ugtrain`.

Their script: https://github.com/sensepost/frida-windows-playground/blob/master/doom-che

[2019-12-05 16:13] #365 closed

[2019-12-07 17:55] Ali-Khazaee opened #366 "Android compile/build tutorial"
This there any tutorial that show how to compile this software for android ?

[2020-01-01 01:31] #366 closed

[2020-01-08 08:15] sriemer commented on #366
Yep, it's in the README.

[2020-01-08 23:25] Ali-Khazaee opened #367 "ptrace don't get attached"
I did try to edit game value but scanmem cannot attach it because the game have traced itself is there anyway to handle this in scanmem ?

[2020-01-09 23:20] apocalyptech opened #368 "scanmem crashes due to out of stack memory for filename with huge maps file"
I seem to be having a problem where scanmem won't attach to a process which has more than 4GB allocated resident memory.  Specifically, I've been trying to attach it to a Borderlands 3 process (running via Wine) -- on the main menu and in some maps, the resident memory usage will remain below 4GB, but on other maps (and after moving around the previously-okay maps for a bit, causing more data to b

[2020-01-09 23:26] apocalyptech commented on #368
Eh, I realized right after submitting this that I could pretty easily test whether it was just the 4GB thing, and it seems that might be a red herring after all.  Just did a stupid little script like this:

    #!/usr/bin/env python3

    import sys

    size = 5*1024*1024*1024
    thing = 'm'*size
    sys.stdout.write('Allocated RAM!  Hit enter to exit> ')
    sys.stdout.flush()
    data = sys.st

[2020-01-09 23:46] apocalyptech commented on #368
Here's a backtrace from the current git HEAD when it crashes, if that's any help:

[code]

I've got some examples of the memory map file as well, though I don't know that there's anything useful in 'em:

* First, a map file on the main menu where attaching works fine: http://apocalyptech.com/scratchpad/scanmem-maps/maps-1-mainmenu.xz
* Then, in the game where attaching fails: http://apocalyptech.c

[2020-01-10 00:25] 12345ieee commented on #368
I can replicate this, looks like a memory issue in the maps file parsing code due to how huge the maps file is for that process.

Just need to figure out what exactly is blowing up the stack.

[2020-01-10 00:39] 12345ieee commented on #368
Of course it's `alloca()`, thankfully it's not the 80's anymore and we can use VLAs.

Try to apply this patch to master and recompile:

[code]

[2020-01-10 00:56] apocalyptech commented on #368
Ah, excellent!  Yeah, that seems to do the trick.  Thanks a bunch, was definitely befuddling me; a little test program I wrote looping over the maps file doing the `sscanf` wasn't failing.

Thanks again!

[2020-01-10 00:59] 12345ieee commented on #368
Nice.

@sriemer take a look at the patch, see if you want to change the variable declaration, otherwise I'm committing it.

[2020-01-10 15:11] sriemer commented on #367
How exactly does it do that? `ptrace(PTRACE_TRACEME, ...)`?
That is the usual anti-ptrace method. The counter measure is using `LD_PRELOAD` to preload a library which overwrites `ptrace()` and fakes that the `ptrace()` call worked.

[2020-01-10 20:11] Ali-Khazaee commented on #367
I'm talking about Android, LD_PRELOAD do not works on Android API > 21

[2020-01-10 20:23] Ali-Khazaee commented on #367
i did test LD_RELOAD like this:

first i made a shared librarythat rewrite ptrace function
then i set export LDPRELOAD=PathToSharedLibrary
then start game, then use scanmem

Is this correct ? if yes do not works on Android > 21

[2020-01-15 08:14] sriemer commented on #367
The other method is just using `ptrace()` to attach before the `main` function by starting the game and to load the library inside the game process with `dlopen()`. This method is pretty complex and arch specific. So it is easier if `gdb` is available with its `call` command. E.g. PINCE does it here: https://github.com/korcankaraokcu/PINCE/blob/3ad170591bbc4313c59a9ddcc80b3c281e5dac20/libPINCE/GDB

[2020-01-15 08:20] sriemer commented on #367
From time to time the smartphone checked executable hashes. So it detected the modification now and then. Just overwriting again was my workaround for that as I didn't want to search for the hashing functionality to make it accept the modification permanently. Also an installer hack was required for using `ptrace()` at all.

[2020-03-27 13:26] sriemer commented on #368
@12345ieee Thanks. Patch and disassembly for this look great. I wonder why you haven't committed this already. The x86_64 assembler code is rounding up to 16 bytes (two 64 bit pointers) alignment:
[code]
This is (len + 15) AND 0xfffffffffffffff0. Example: (1 byte + 15) AND 0xfffffffffffffff0 = 0x10 (16 bytes). 0 remains 0. 8 becomes 16, 16 remains 16.

[2020-03-27 16:47] #368 closed

[2020-03-28 07:19] 12345ieee commented on #368
Ah, thanks.

I'm a bit wary of `alloca()`, so I wanted to be sure I wasn't introducing subtle breakage, then I kinda forgot about it...

[2020-03-30 07:36] sriemer opened #370 "Offering help for real-world health cheating"
We are in difficult times right now. Gaming and too much time at computers is part of the problem. I belong to the 10% of people with knowledge about biology secrets that I cannot speak freely about. The alternative medicine knows much more about the current situation but also can't talk freely about it. But alternative medicine has indeed healing in mind.

Drop me an e-mail if you are ready for m

[2020-03-30 07:51] #370 closed

[2020-03-31 19:31] sriemer opened #371 "PINCE integrates libscanmem"
Just a heads-up that PINCE has a new PR that integrates libscanmem:
https://github.com/korcankaraokcu/PINCE/pull/76

Any opinions on this @12345ieee?

[2020-03-31 19:59] 12345ieee commented on #371
Had a very brief look, they pass through a modified copy of the GC backend which is good, so the exposed api is somewhat limited.

It would be better to provide the bindings ourselves, though, maybe we can discuss with them how to extract out what they need and provide a python API.

I was looking forward to this, I find the C library the interesting part of this project, it's high time someone wi

[2020-04-06 22:29] 12345ieee commented on #325
The conversation here deviated a bit, but the answer to the question in the title is: now yes, due to #372 .

I'm closing this for now, feel free to reopen if there's other relevant stuff to discuss.

[2020-04-06 22:29] #325 closed

[2020-04-06 22:33] 12345ieee commented on #364
I've looked, and in Debian/Ubuntu the package depends on python3 and python3-gi, but you're probably running it with python2, hence the issue.

I page in out maintainer for Debian @kartikm , he can tell us more.

[2020-04-06 22:56] #361 closed

[2020-04-07 03:48] kartikm commented on #364
In Debian, gameconqueror depends on 'python3-gi' already.

[2020-04-07 20:52] 12345ieee commented on #364
Thanks Kartik, so this is actually fixed in the distributions, I've also checked on salsa, we have the shebang set to py3.

I'm closing this for now, if someone else comes from google with the same problem, please let us know what distro and GC version you're using.

[2020-04-07 20:52] #364 closed

[2020-04-09 13:33] 12345ieee commented on #371
I have committed ba6d473781838846908d459d5c8272a69a2a0f42 to help the guys out.

We now provide a self-contained Python interface for libscanmem via the `scanmem.py` file, that should be used by any downstream project that wants to talk python to it.

I'm sure it'll need further modifications, but now they can carry on the integration without replicating effort we had already done.

[2020-04-11 14:57] Klairm opened #375 "Is there any way for scan for pointers?"
So on a game i want to have infinte ammo, but everytime i die the memory adress where is located it changes ( also there are 2 addresses for ammo), so it's kinda boring having to search for the address everytime.

Also how would be able to find for health address?

Is there any real good replacment for CE on linux?

Sorry if i'm making some offtopic  questions

[2020-04-11 15:00] 12345ieee commented on #375
Scanmem only provides memory searching and editing capabilities, to follow pointers you need more of a debugger.

You can look at the following projects, that are still focused on game cheating: https://github.com/ugtrain/ugtrain and https://github.com/korcankaraokcu/PINCE

[2020-04-11 15:00] #375 closed

[2020-04-11 15:26] Klairm commented on #375
I tried those, but i just dont understand how to use them, they are not much user friendly as scanmem or gameconqueror, that's why i'm asking something like CE

[2020-04-16 12:19] #367 closed

[2020-04-19 18:31] vikke1234 opened #376 "Undoing searches"
I was talking with @12345ieee about adding an option for undoing to scanmem. Something like "undo_enabled" with a limit you could set e.g. "undo_limit"

[2020-04-25 21:21] bkazemi commented on #376
This could be done, but you'd have to redo the search due to the possibility of the matches being moved around in memory. If I remember correctly, someone has requested something involving saving matches and @sriemer said it's unfeasible ATM.

[2020-04-25 21:24] 12345ieee commented on #376
I was simply thinking about saving the old matches array instead of replacing it with the new one.

Of course stuff may have moved in the meantime, but that's an issue with any consecutive scan, irrespective of undo.

Did I miss something?

[2020-04-26 00:11] bkazemi commented on #376
https://github.com/scanmem/scanmem/issues/341 same question right? Personally I like the idea, if you have enough memory, it'd be convenient. We could add an option to automatically prune the addresses that don't match the search in the old matches.

[2020-04-26 00:17] 12345ieee commented on #376
Yeah, it's the same thing.
The issue I've always with this was that keeping N copies of the matches array is easily implemented, but what's hard is to choose N.

The OP of this issue suggested I could add a configurable number of arrays to retain, so we can have it at0 by default (= old behaviour) but let front ends move it to 2 or 10 or 3000, let them or the user handle the decision of how much h

[2020-04-26 18:16] bkazemi commented on #376
Sounds good to me. Perhaps we could check memory usage and show a warning if the user starts using enough RAM to slow down their system; With today's RAM, only with a high N would that be likely, however. Maybe we could even generalize this warning, it seems a lot of people have blown their stack.

[2020-05-05 00:38] Neverest opened #379 "[Feature Request]Way to use speedhacks on GUI"
Don't know if I missed it, but if not, it would be great to have a way to alter a game's speed via GameConqueror if its possible. This is how it appears on Cheat Engine(right of memory scan options):

![image](https://user-images.githubusercontent.com/13340767/81026078-e3dd2f80-8e46-11ea-8e9d-cccce0a65116.png)

Speeding up the grinding on rpg's is a godsend.

[2020-05-05 00:51] 12345ieee commented on #379
Eh, I'd like to have this as well, but the only way I can think to do this is `LD_PRELOAD`-ing every timewaster in the C library and modifying the input values to them (stuff like `sleep`, `nanosleep` and so on).

This path has already been refuted in #65 and #233 , as scanmem/GC isn't really made for it.

I won't close this immediately, maybe some contributors have better ideas on how to implemen

[2020-06-06 16:50] sa666666 opened #384 "Make use of multiple CPU cores"
The docs state that scanmem is slow on large programs on the first pass.  I've experienced this too.  Would it be possible to partition the area to search, and divide it amongst multiple cores?  I have an 8-core, 16-thread machine, where the rest is going to waste, as scanmem is only using one core.  How feasible would this be?

[2020-06-07 11:31] 12345ieee commented on #384
It's clearly doable, but needs a huge amount of work.

I'll leave this open, maybe someone young and brave wants to try.

[2020-06-07 12:52] shenada commented on #384
Hi Andrea,
I'm very interested on this topic, too.

Any data flow or work flow documents for libscanmem ? Or even a hint ?

Which will helps me quicker start and prevent misunderstanding on current
design. Because old school classic signal based cancelable worker model
somehow kind a little bit hard to trace/read.

Respectfully,
D.S

On Sun, Jun 7, 2020, 19:32 Andrea Stacchiotti <notifications@git

[2020-06-07 12:58] 12345ieee commented on #384
While I could write down a nice document on how the pieces fit, it'd take me ages and I really don't want to do that kind of work.

We can discuss this on a chat, sm has a (mostly desert) slack room here: [![Chat on Slack](https://img.shields.io/badge/chat-on%20slack-blue.svg)](https://join.slack.com/t/scanmem/shared_invite/enQtMjU0OTE5NjczNjk4LWI1ZjEyNzMzZTdiMTZhOTUyNDRmMWFmNDQ3YTJhOWE5MDZmMjUzZm

[2020-06-07 13:27] shenada commented on #384
Hi Andrea,

On Sun, Jun 7, 2020 at 8:58 PM Andrea Stacchiotti <notifications@github.com>
wrote:

I hate to write documents too. :smile
No need to be a real document. There could be few hints for keywords or
symbols in the source to guide me to quickly understand why and how the
scanmem's design.

Both are new things for me. I used to use IRC or maillist(We draw with
ascii art. :LOL).
Anyway, I tri

[2020-06-07 13:29] 12345ieee commented on #384
I'll just close it, nobody uses it anyway.

IRC is fine by me, but I'd rather you try discord first, because it keeps history.

[2020-06-07 13:53] shenada commented on #384
Discord is fine for me too. Just create a new account with DTag 'D.S#2209'.

[2020-06-09 16:59] miguelshta21 opened #385 "how i can send values to a bash script?"
im trying to use "f1" key when life is lower than 100 for a example
[code]

[2020-06-09 17:01] 12345ieee commented on #385
Please format your post correctly, it's unintelligible like this.

[2020-06-09 17:04] miguelshta21 commented on #385
sorry my bad

[2020-06-09 18:00] miguelshta21 commented on #385
@12345ieee you have discord?

[2020-06-09 22:24] 12345ieee commented on #385
The easiest way is to run scanmem in noninteractive mode, like this:
[code]
you can then cut out the output and do what you prefer with it.

PR #346 started introducing a nicer interface for this task, but it'll need more work to be merged.

[2020-06-09 23:27] miguelshta21 commented on #385
@12345ieee well what i ask is very easy I just can't explain myself its like a macro:
[https://imgur.com/a/D8fZh5c](url)
want to capture this value and then if the values goes down over the 80% then use f11
specialy this "adress value" prom this PID

[2020-06-09 23:51] miguelshta21 commented on #385
@sriemer can you help me too? :/

[2020-06-09 23:54] 12345ieee commented on #385
You'll have to explain yourself better then.

Also, don't ping unrelated people.

[2020-06-09 23:59] miguelshta21 commented on #385
@12345ieee sorry for the ping, to explain in the best way is:
#example my full health bar value is 180 (100% of my life points)
i want to keep capturing this value and convert it to variable if  the variable value goes down over < 70% then it will heals my life points with F1
#PID= 145365
#ADRESS OF LIFE BAR= 0x65b1808

[2020-06-10 00:02] 12345ieee commented on #385
Scanmem can't call arbitrary callbacks, but you can call it like I wrote above and it'll give you the memory value at that address.
You can do that in a loop and do whatever you want with the value.

[2020-06-10 00:07] miguelshta21 commented on #385
well to understand better can you convert your example using my variables?
#PID= 145365
#ADRESS OF LIFE BAR= 0x65b1808
also thank you for the help

[2020-06-14 14:21] #385 closed

[2020-06-20 23:38] DHLF opened #386 "[feauture request] changing fonts of memory editor/cheat table"
Maybe it is too obvious but i was unable to change the fonts using debian 10(kde environment).<br>
Using 4k resolution it is nice to see so much at once(I forced the window size of the memory editor manually to full height) but the text-size could be a little larger..<br>

Also the font of the cheat table is not a fixed width font.<br>
So "ten fullstops" have a different width than "1234567890" wh

[2020-06-28 22:19] XutaxKamay commented on #376
If swap is enabled on their system it should be still okay, but I noticed it does indeed completely crash the system when there isn't any ram and swap memory left still.
What could work is mapping virtual memory to a file where it saves the history of matches, it might be slower unfortunately but should be safer than using RAM directly if matches are too big.

For the way to store them in my opini

[2020-07-07 04:53] NoussMaster opened #387 "Explanation of offsets with GameConqueror"
Hi all!

I don't understand what the offsets on gameconqueror mean, could someone please explain it to me.

I have a base address which is 55ed015cc000 and the ball address is 55ed02a8d838.

GameConqueror tells me that the offset of the balls is 37838.
So I took the base address and added the offset to see if I get the memory address of the balls but not at all, I have a completely different memor

[2020-07-07 23:42] 12345ieee commented on #387
The offset is from the start of the region, if GC tell you the address is `55ed015cc000`, that is the actual address.
The memory region just happens to start `37838` bytes before that, this might be useful info if you are mapping many memory locations.

[2020-07-08 11:03] NoussMaster commented on #387
In fact the base address is not GC that tells me that.

I got it by doing a cat /proc/PID/maps.
GC just gives me the ammo address. Can you shed some more light on this for me, please?

[2020-07-08 11:43] #371 closed

[2020-07-11 08:41] danfe opened #388 "Avoid using unportable "uint" type"
While apparently in common usage on GNU/Linux systems, it's still remains non-standard, custom type, and thus should not be used in portable programs.  Consider applying the following patch:
[code]
This is part of the FreeBSD porting effort (see #179).  On the related note, you might also consider using `size_t` for length.

[2020-07-11 08:48] danfe commented on #179
Speaking of the `alloca.h`, it is actually checked by the autotools, and `HAVE_ALLOCA_H` macro is defined (or not) accordingly.  That said, consider the following patch:
[code]
This works on my FreeBSD system, and I don't see why it should not work elsewhere.

[2020-07-11 10:03] shenada commented on #388
On Sat, Jul 11, 2020, 16:41 Alexey Dokuchaev <notifications@github.com>
wrote:

Not even common on Linux.
uint/along/ushort comes from very old Unix system conventional standard.

could be either 32b or 64b. 2. x86 largest page size(huge page) is 2G.

B.R,
From my Android device by
Dark Shenada

[2020-08-17 16:02] ShorTyy05 opened #390 "Cannot run GC on Gentoo"
I emerged scanmem from the official repository, with the following USE flags:
`USE="gui -static-libs" PYTHON_SINGLE_TARGET="python3_7 -python3_6"`,
 but whenever i try to run gameconqueror, I get the following output:
`Error getting authority: Error initializing authority: Could not connect: No such file or directory`
How do I fix this?

[2020-08-18 17:08] ShorTyy05 commented on #390
Launching GameConqueror.py directly, works though.

[2020-08-18 17:08] #390 closed

[2020-08-18 18:50] arrrbeee opened #391 "GameConqueror cannot find 'gi' module (it's installed)"
Here's the error I'm getting:

[code]
When I run `which python3`, it returns: `/home/xxx/anaconda3/bin/python3`.

So I checked by running `python3` and then `import gi` and it worked. I also tried with vanilla Python `/usr/bin/python3` and confirmed that `import gi` works as well.

Interestingly enough, if I just run `python3 /usr/share/gameconqueror/GameConqueror.py`, the program opens.

Any idea

[2020-08-18 20:35] 12345ieee commented on #390
This looks like a `pkexec` error.
Can't help you with that, but as you've seen you can bypass that.

[2020-08-18 20:36] 12345ieee commented on #391
Check that py3 is used in the script, maybe the script is using py2.

[2020-09-05 05:16] bkazemi commented on #249
I think the best way to handle it would be to only set it automatically when it is an initial scan. I don't think it's common for people to search for numbers on string matches and vice versa. Plus we'd have to mix the match output types which would be a lot of new code.

[2020-09-05 05:58] bkazemi commented on #384
Well, not `v0.18` for sure, but the easiest place to start would be to pthread region searching, as those are logically divided anyways. Then you'll have to synchronize access to the matches array which will be kind of a pain because we want the addresses to be ordered properly. Then there's the issue of progress output, it'd get jumbled without proper care (or ncurses). Last thing is handling the

[2020-09-05 06:11] bkazemi commented on #388
Yep, probably was a typo considering some other variables we use have `uint` in the name. Please open a PR.

@shenada I'm unsure what you're trying to say due to the email formatting issues. Feel free to open a new issue if you caught something unrelated, thanks.

[2020-09-05 06:11] #388 closed

[2020-09-05 06:25] bkazemi commented on #391
Try setting the distro's default python to python3.

[2020-09-07 03:02] danfe commented on #388
Was this fixed?  I can't seem to find the commit (ideally it should be referenced when closing the issue).

[2020-09-09 08:03] bkazemi commented on #388
For credit, `git blame`, etc.

[2020-10-01 12:44] sriemer commented on #391
Seems to be solved. So closing.

[2020-10-01 12:44] #391 closed

[2020-10-01 12:58] sriemer commented on #387
@NoussMaster Offsets make sense for static memory in positions-independent executables (PIE) or libraries (position-independent code, PIC). In theory, static memory means static addresses but the base/load address of those binaries is randomized in memory by address-space layout randomization (ASLR). The load address is the start of the .text region. The variables in static memory are accessed the

[2020-10-01 15:05] sriemer commented on #355
Looks like this has been resolved. So closing. Thanks.

[2020-10-11 21:21] marcussacana commented on #379
what about include this tool? https://github.com/evg-zhabotinsky/libspeedhack

[2020-10-13 10:11] sriemer commented on #387
The `scanmem` `lregions` command shows the load addresses and `scanmem` has better support for the match offsets in general as it shows the region ID to which a match offset belongs. It even shows the region type.

`55ed02a8d838 − 37838 = 55ed02a56000`.
Looks like your match is **inside the heap region** and is not part of the PIE. For dynamic memory cheating I recommend [ugtrain](https://github.c

[2020-10-13 10:11] #387 closed

[2020-10-15 09:22] sriemer commented on #379
@marcussacana This requires `LD_PRELOAD`. Neither `scanmem` nor `GameConqueror` start applications. So this won't work without major architectural changes for which there aren't enough development resources.

It should be also possible to inject the library with a debugger but neither `scanmem` nor `GameConqueror` come with debugger features. Debugger features aren't implemented for the same reaso

[2020-10-15 11:50] marcussacana commented on #379
huh... I will wait the github publish the discussions feature, I don't wanna open a issue because of a request.

[2020-10-23 07:06] allenaigit opened #392 "Process already attached by a tracer"
This isn't really a bug, but it's a very confusing situation when encountered and I think it's worth at least being mentioned here.

**To reproduce:** attach to a process (say process ID 1000) with gdb or strace, then try to attach to the same process with scanmem. scanmem will produce error "failed to attach" as a result.

**Suggestion:** check the process's status before attempting to attach, an

[2020-11-23 10:29] OmiceyO opened #393 "error: failed to attach to pid, Operation not permitted"
sudo scanmem -p 17508
scanmem version 0.17
libscanmem version 0.17

Copyright (C) 2006-2017 Scanmem authors
See https://github.com/scanmem/scanmem/blob/master/AUTHORS for a full author list

scanmem comes with ABSOLUTELY NO WARRANTY; for details type `show warranty'.
This is free software, and you are welcome to redistribute it
under certain conditions; type `show copying' for details.

info: maps

[2021-01-23 14:17] anthraxx opened #397 "consider tagging a new release"
Hi there,

The last project is from Oct 14, 2017 and there have been bunches of commits since. Can we get a new release and git tag?

[2021-01-23 15:00] 12345ieee commented on #397
I really need to go on a review/merge spree, I've been neglecting this for a while.

I'll try to make time tomorrow.

[2021-01-25 14:51] sriemer commented on #397
Thanks for stepping in @12345ieee. I've stopped all work on game cheating tools for now. Got a new family member to care of who has priority.

[2021-01-31 16:48] 12345ieee commented on #393
Uhm, this might be a little late, are you still having issues?

[2021-01-31 16:50] 12345ieee commented on #392
Yes, a program tracing itself is a common defense against memory editors on linux.

I welcome a PR that adds this feature to scanmem, but I can't promise I'll work on it myself.

[2021-01-31 16:51] #379 closed

[2021-01-31 17:15] 12345ieee commented on #397
I went through a bunch, but there's more to do, I'll get back at it next week.

[2021-02-05 14:13] korcankaraokcu opened #398 "libscanmem warning: "Gtk was imported without specifying a version first""
Line 24 in misc.py causes this warning:
[code]
Occured on a Kubuntu 20.04.2 LTS system. Another issue with the same problem: https://github.com/korcankaraokcu/PINCE/issues/94

[2021-04-11 21:55] PopeRigby opened #399 "GameConqueror crashes on launch"
I get this error when running `gameconqueror` through my terminal:
[code]

OS: Arch Linux
WM: Sway

[2021-04-11 22:52] 12345ieee commented on #399
You're likely using a bleeding edge version of GC with an outdated version of libscanmem.
Either downgrade the former or upgrade the latter.

[2021-04-12 20:43] PopeRigby commented on #399
That was the problem. Thank you.

[2021-04-12 20:43] #399 closed

[2021-04-22 09:53] tiann opened #400 "consider using `process_vm_read/process_vm_write`"
https://man7.org/linux/man-pages/man2/process_vm_readv.2.html

[2021-04-25 10:53] Takiro opened #401 "String length not saved with address list"
When you have an address list with string value types save the list and reload it, the character length is limited to what it was saved with.

For example I change a string address I added manually with a length of 13 from `foobar` to `baz`, save the list and restart the game so the value is reset. After also reloading the address list in Game Conqueror it will show `foo` instead of `foobar` becau

[2021-06-08 16:45] Ezriral opened #402 "Build Android Help"
i really struggle with these linux builds.

System:
+ Ubuntu 20.04

What i did:
+ installing the packages/tools (autotools-dev, libtool, libreadline-dev, intltool, and python(3.8))
+ ./autogen.sh
+ ./build_for_android.sh
   + NDK toolchain path (downloaded android-ndk-r21e-linux-x86_64.zip from https://developer.android.com/ndk/downloads)
       and extracted it to the Desktop "/home/user1/Desktop

[2021-08-22 11:21] tiann commented on #397
sorry but i want to know is there any update?

[2021-10-05 07:22] iMonZ opened #404 "CT files"
Can you open CT files with this tool?

[2021-10-06 11:53] alexholox opened #405 "Building GameConqueror on OpenSUSE TW: No module named gi?"
I run from the command line on opeSUSE Tumbleweed and this is what I get:

[code]

I installed every pre-requisie except python which I forgot. Then, I ran it and noticed I lacked python so installed it. Now I have everything and can't open GameConqueror because this appears and in usr/lib64 I don't see the app. Please help! What to do?

[2021-10-06 14:46] sriemer commented on #405
I guess this question is answered. So closing.

[2021-10-06 14:46] #405 closed

[2021-10-08 10:36] korcankaraokcu opened #406 "[Feature Request] Allow libscanmem to search for executable regions"
Libscanmem currently discards executable regions even when scanning with full scope. It can be quite useful for debugger integrations, such as PINCE. This feature is also requested in https://github.com/korcankaraokcu/PINCE/issues/107

[2021-10-09 08:24] DHLF commented on #405
GERMAN:

gamconqueror FEHLER: gi blabla
falsche Version von gi: gesucht wird PYTHON2-gi gibts nicht
mehr(bullseye) (python-gi-dev ist 3.x!)
Aufruf der DEV version von gameconqueror mit: python3 gameconqueror
Fehlermeldungen in der bash ignorieren..
bzw. /usr/bin gameconqueror LESEN und dadurch
/usr/share/gameconqueror.py erste Zeile ändern in(also bei python eine 3
anhängen!!(via sudo!):
#!/usr/bi

[2021-10-30 20:49] sriemer commented on #393
Look at `man 2 ptrace`. Some games use the setgid bit. In that case, ptrace is not allowed. Changing file permissions usually resolves this issue.
Some commercial games come with ptrace detection PTRACE_TRACEME. The workaround against this is overwriting ptrace with an LD_PRELOAD library and faking that the game is not ptraced. I call this anti-anti-ptrace.

[2021-10-31 02:49] OmiceyO commented on #393
Do you have a link which goes into more detail and how to implement what you are saying?

[2021-10-31 10:58] sriemer commented on #393
http://index-of.es/Varios/Securite/Anti-anti-ptrace.pdf if you have some basic French knowledge.

[2021-10-31 19:33] sriemer commented on #406
Could be easily done by adding a scan level 4 I guess. Got no time to implement this unfortunately. Feel free to contribute.

[2021-11-28 19:49] randomguybob opened #407 "GUI Installation problems on Kali Linux"
I am using Kali (based on Debian):
Linux kali 5.9.0-kali1-amd64 #1 SMP Debian 5.9.1-1kali2 (2020-10-29) x86_64 GNU/Linux

I get this error when running "make":
make[2]: *** No rule to make target 'all-@USE_NLS@', needed by 'all'.  Stop.

True, I don't see it in the makefile.

TIA <3

[2021-11-30 10:10] sriemer commented on #407
Sorry about that. The code base didn't receive much updates recently. I was busy with health recovery and I'm busy with a toddler right now. Priorities shifted for me as nobody would pay me for scanmem development. I guess there are similar issues at the side of @12345ieee. Maintaining this code base alone is pretty hard.
NLS should be "native language support". We don't have something like that i

[2021-11-30 19:18] randomguybob commented on #407
Awesome - this works! Thanks.

[2021-11-30 19:55] 12345ieee commented on #407
Indeed I'm busy with work and other projects, I read, but cannot really act.

Thanks for triaging this one @sriemer .

[2021-11-30 19:55] #407 closed

[2022-03-19 17:33] fxndone opened #409 "Traduction"
Hi !
I used your tool as it is really good, and found no where a place to change the language.
That could be an idea to do so, and, if needed, I can help you traduce to French (as i speak it fluently (more than English ;))

Let me know if this could interest you, and keep that project alive, it is really good !!

[2022-03-21 23:49] 12345ieee commented on #409
Hello,
the language is chosen automatically by the libc locale system, it's just that we don't have a french translation yet, so it defaults to english.

You can check the `/po` forder to see translation files, and see the history of that folder for example commits.
If you make a PR with a new language we can merge it.

[2022-03-22 06:33] fxndone commented on #409
Okk, I'll take a look on m'y free time, and if a traduce everything i'll send you !

[2022-04-21 09:15] pollev commented on #406
Hello,

I also need this feature (and would also like to see it added to PINCE).
I have opened a PR for this: https://github.com/scanmem/scanmem/pull/410
Please give feedback and merge if appropriate.

[2022-05-14 22:58] #406 closed

[2022-06-13 21:46] Etaash-mathamsetty opened #411 "gameconqueror not following system gtk theme on kde plasma"
pretty self explanitory issue, and I am pretty sure it is caused by the use of python in the gui

[2022-07-01 17:06] grazzolini commented on #411
It doesn't follow the theme on any environment, from what I can tell. I'm using i3 WM. This one is kind of annoying, since it blinds you in low light environments.

[2022-07-06 19:10] 12345ieee commented on #411
The gtk version is mildly old, would probably need an update.

Help welcome.

[2022-07-09 12:52] Etaash-mathamsetty commented on #411
Haven't really worked with gtk before and i personally am a python hater, but I'll see what I can do

[2022-07-09 13:55] Etaash-mathamsetty commented on #411
ok the problem is that gameconqueror is running through pkexec (root) and because of that it is really tough to set the correct gtk theme

[2022-07-09 13:58] 12345ieee commented on #411
Mmm, `gparted` has the same root requirements, does that not set the theme correctly in your systems as well?

[2022-07-09 14:19] Etaash-mathamsetty commented on #411
gparted runs pkexec within the program, while gameconqueror is running under pkexec

[2022-07-09 14:28] #411 closed

[2022-07-09 14:32] Etaash-mathamsetty commented on #411
![image](https://user-images.githubusercontent.com/45927311/178110222-a997f1ef-9ea8-476a-a5eb-2d49c7f77b8a.png)
here is an image of the final result

[2022-07-09 18:18] awsdert opened #412 "Feature request: Time, custom sized integers and expression based values"
- [ ] I'd like an option in GC to present the value as a time value, such as HH:MM:SS:MMM (I think that's right for milliseconds).
- [ ] I'd also like to set a custom sized integer to look for, such as 24bits
- [ ] Finally I'd also like to be able to set the table entries to use expressions both to & from the value the address holds, example functions:
* showValue(gotFromMem / 8)
* sendValue((gotF

[2022-07-11 16:39] awsdert commented on #412
Well for contribution I'd say ideas would be the main as I'm busy with other projects, might jump into the code myself if I ever get my projects to a state I consider them complete enough to ignore for long periods of time, for now I use games and gameconquorer for stress relief.

For worth, an easier time hacking my games since I don't have to spend time converting time data into the readable for

[2022-07-12 13:55] #412 closed

[2022-07-12 14:07] awsdert commented on #412
That's where you're wrong in some cases, particularly emulators, I often find that until an update occurs even some steam games retain the same address when booted.

Well at the moment GC is the only real option, as far as PINCE is concerned I've always found it to not yet be ready for daily use when I try it, and I'm too busy trying to get myself a job to spend time on my own attempt at replacing

[2022-07-12 14:30] sriemer commented on #412
Thanks for reporting. Maybe you hit the personal need of my co-maintainer or other developers.
But e.g. time values are stored very differently in different applications. An example would be integer milliseconds * 70. It depends on the selected clock rate and time resolution.

Your request without associated value means it is nothing more than a wish and this is not even important to yourself. So

[2022-07-12 14:41] awsdert commented on #412
Well that millisecond issue can easily be solved by simply adding a parameter, you could store the type as "time" or "time(#)" where # would be the custom milliseconds/ticks, the standard math can be applied there after for upto to day intervals, months & years should be ignored until a suitable way to fob off the locality math to the system (I think I would just divide the input by the custom mil

[2022-07-28 22:09] Silfurfjoss opened #413 "Fails to launch from root user in SteamOS"
When attempting to launch as root user (I was testing to see if I could bypass requiring password), it fails with a few critical errors, pasted below. This was attempting to launch from konsole. If I launch it as normal user and supply the password it launches as expected from konsole.

(GameConqueror.py:4657): Gtk-CRITICAL **: 17:04:49.394: gtk_clipboard_get_for_display: assertion 'display != NUL

[2022-08-10 16:41] shahid0 commented on #402
make jni folder and pasting all files inside jni folder

[2022-08-11 22:24] anthraxx commented on #397
gentle bump :cat:

[2022-09-22 12:12] HookedBehemoth opened #414 "Speed up sm_searchregions"
I've been using game conqueror a few times with games and was very underwhelmed with the speed. Initial searches could take up to 30 seconds (Ryzen 9 3900x).

I implemented a very basic avx2 accelerated search routine and the speedup is ~20x in the synthetic memfake tests and still well over 10x in the games I tested (1-2 seconds from >20s for integers in Monster Hunter Rise).
My implementation is

[2022-09-30 12:17] sriemer commented on #414
Nice work and ideas. But `scanmem` still needs to be portal. There are distribution packages for all kinds of CPU architectures. The code would become way more complex and testing intensive if we add CPU specifics.
We do not have these development resources right now. New regular contributors committed to maintaining their changes long-term are required.
A new release for not being kicked out of L

[2022-09-30 12:31] 12345ieee commented on #414
Where are we risking that? I've seen no mails from Debian/Ubuntu.

[2022-09-30 14:33] HookedBehemoth commented on #414
I understand your concern with portability. Ideally the fastest available path should be chosen but it should still be able to fall back to a portable/scalar path if either the target processor doesn't support any or the we don't have any for this platform.

I think simdutf is a good example. It implements sse, avx2, avx512 for x86, neon for arm, AltiVec for PowerPC and falls back to scalar paths

[2022-11-13 03:47] hellidox opened #415 "running build_for_android.sh generates an x86_64 binary"
no idea what the hell is going on, i made an arm64 standalone ndk and everything

[2022-11-13 14:24] 12345ieee commented on #415
Even the stuff in `/home/atrius/git/ndk/sysroot/usr/bin/scanmem` is x86_64?